.text-semibold20-1116_1447 {
        font-size: 20px;
font-family: "Kaspersky Sans Text-SemiBold";
font-weight: SemiBold;
letter-spacing: 0em;
line-height: 28px
      }
.text-medium16-1981_159097 {
        font-size: 16px;
font-family: "Kaspersky Sans Text-Medium";
font-weight: Medium;
letter-spacing: 0em;
line-height: 20px
      }
.text-medium16-981_10378 {
        font-size: 16px;
font-family: "Kaspersky Sans Text-Medium";
font-weight: Medium;
letter-spacing: 0em;
line-height: 24px
      }
.text-regular12-62_2583 {
        font-size: 12px;
font-family: "Kaspersky Sans Text-Regular";
font-weight: Regular;
letter-spacing: 0em;
line-height: 16px
      }
.text-medium16-1004_170482 {
        font-size: 16px;
font-family: "Kaspersky Sans Text-Medium";
font-weight: Medium;
letter-spacing: 0em;
line-height: 20px
      }
.text-regular14-504_2349 {
        font-size: 14px;
font-family: "Kaspersky Sans Text-Regular";
font-weight: Regular;
letter-spacing: 0em;
line-height: 20px
      }
.text-semibold32-78_16432 {
        font-size: 32px;
font-family: "Kaspersky Sans Text-SemiBold";
font-weight: SemiBold;
letter-spacing: 0em;
line-height: 40px
      }
.fill-lightcontentprimary-62_2618-paragraph {
        color: rgba(33, 37, 41, 1)
      }
.text-medium14-204_426 {
        font-size: 14px;
font-family: "Kaspersky Sans Text-Medium";
font-weight: Medium;
letter-spacing: 0em;
line-height: 20px
      }
.text-medium16-62_2610 {
        font-size: 16px;
font-family: "Kaspersky Sans Text-Medium";
font-weight: Medium;
letter-spacing: 0em;
line-height: 24px
      }
.text-semibold32-981_10844 {
        font-size: 32px;
font-family: "Kaspersky Sans Text-SemiBold";
font-weight: SemiBold;
letter-spacing: 0em;
line-height: 40px
      }
.text-medium12-431_165065 {
        font-size: 12px;
font-family: "Kaspersky Sans Text-Medium";
font-weight: Medium;
letter-spacing: 0em;
line-height: 16px
      }
.text-semibold32-1057_170611 {
        font-size: 32px;
font-family: "Kaspersky Sans Text-SemiBold";
font-weight: SemiBold;
letter-spacing: 0em;
line-height: 40px
      }
.text-semibold16-910_4275 {
        font-size: 16px;
font-family: "Kaspersky Sans Text-SemiBold";
font-weight: SemiBold;
letter-spacing: 0em;
line-height: 24px
      }
.text-semibold40-504_2204 {
        font-size: 40px;
font-family: "Kaspersky Sans Text-DemiBold";
font-weight: DemiBold;
letter-spacing: 0em;
line-height: 52px
      }
.text-semibold32-435_2308 {
        font-size: 32px;
font-family: "Kaspersky Sans Text-SemiBold";
font-weight: SemiBold;
letter-spacing: 0em;
line-height: 40px
      }
.text-semibold24-504_2205 {
        font-size: 24px;
font-family: "Kaspersky Sans Text-DemiBold";
font-weight: DemiBold;
letter-spacing: 0em;
line-height: 32px
      }
.text-semibold16-504_2214 {
        font-size: 16px;
font-family: "Kaspersky Sans Text-SemiBold";
font-weight: SemiBold;
letter-spacing: 0em;
line-height: 24px
      }
.text-semibold14-431_164006 {
        font-size: 14px;
font-family: "Kaspersky Sans Text-SemiBold";
font-weight: SemiBold;
letter-spacing: 0em;
line-height: 20px
      }
.text-semibold12-431_163972 {
        font-size: 12px;
font-family: "Kaspersky Sans Text-DemiBold";
font-weight: DemiBold;
letter-spacing: 0em;
line-height: 16px
      }
.text-semibold14-978_1586 {
        font-size: 14px;
font-family: "Kaspersky Sans Text-SemiBold";
font-weight: SemiBold;
letter-spacing: 0em;
line-height: 20px
      }
.text-regular14-1981_159096 {
        font-size: 14px;
font-family: "Kaspersky Sans Text-Regular";
font-weight: Regular;
letter-spacing: 0em;
line-height: 20px
      }
