.ui-app {
	--ui-app-statusbar-height: 40px;
	--ui-app-navbar-height: 52px;

	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: var(--background-secondary);
	padding: var(--ui-app-statusbar-height) 0 var(--ui-app-navbar-height) 0;
	display: flex;
	flex-direction: column;
}
