.ui-header {
  padding: 40px 24px 16px 24px;
}

.ui-header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.ui-header__title {
  margin: 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  color: var(--content-primary);
}

.ui-header__button {
  flex-shrink: 0;
  display: inline-flex;
}

.ui-header__meta {
  margin-top: 8px;
}
