@use "./tokens";
@use "./fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  background: var(--background-primary);
  color: var(--content-primary);
}

a {
  color: inherit;
}
