
.Pixso-symbol-421_11156 {
  width: 360px;
  height: 48px;
  background-color: var(--background-background-secondary);
}

.Pixso-frame-421_11167,.Pixso-frame-421_11169 {
  width: 100px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
}

.Pixso-frame-421_11167 {
  height: 48px;
  position: absolute;
  left: -100px;
  right: 100px;
}

.Pixso-instance-421_11168,.Pixso-instance-421_11170 {
  width: 24px;
  height: 24px;
  left: 38%;
  right: 38%;
  top: 25%;
  bottom: 25%;
}

.Pixso-instance-421_11168,.Pixso-instance-421_11170,.Pixso-vector-421_11171,.Pixso-vector-421_11172 {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Pixso-instance-421_11168 {
  position: absolute;
  background-image: url(@/assets/images/is_outlinetrue20.svg);
}

.Pixso-frame-421_11169 {
  height: 48px;
  position: absolute;
  left: 0px;
  right: 0px;
}

.Pixso-instance-421_11170,.Pixso-vector-421_11171,.Pixso-vector-421_11172 {
  position: absolute;
}

.Pixso-instance-421_11170 {
  background-image: url(@/assets/images/is_outlinetrue21.svg);
}

.Pixso-vector-421_11171,.Pixso-vector-421_11172 {
  width: 16px;
  height: 16px;
  bottom: 48px;
}

.Pixso-vector-421_11171 {
  background-image: url(@/assets/images/corner8.svg);
  right: 0px;
}

.Pixso-vector-421_11172 {
  background-image: url(@/assets/images/corner7.svg);
  left: 0px;
}

.component-421_11156 {
  width: fit-content;
  height: fit-content;
}

.Pixso-instance-421_11168 .Pixso-symbol-421_11151 ,.Pixso-instance-421_11170 .Pixso-symbol-421_11146  {
  width: 24%;
  height: 50%;
}
