
.Pixso-symbol-421_11155 {
  width: 360px;
  height: 48px;
  background-color: var(--background-background-secondary);
}

.Pixso-frame-421_11161,.Pixso-frame-421_11163 {
  width: 100px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
}

.Pixso-frame-421_11161 {
  height: 48px;
  position: absolute;
  left: -100px;
  right: 100px;
}

.Pixso-instance-421_11162,.Pixso-instance-421_11164 {
  width: 24px;
  height: 24px;
  left: 38%;
  right: 38%;
  top: 25%;
  bottom: 25%;
}

.Pixso-instance-421_11162,.Pixso-instance-421_11164,.Pixso-vector-421_11165,.Pixso-vector-421_11166 {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Pixso-instance-421_11162 {
  position: absolute;
  background-image: url(@/assets/images/is_outlinetrue22.svg);
}

.Pixso-frame-421_11163 {
  height: 48px;
  position: absolute;
  left: 0px;
  right: 0px;
}

.Pixso-instance-421_11164,.Pixso-vector-421_11165,.Pixso-vector-421_11166 {
  position: absolute;
}

.Pixso-instance-421_11164 {
  background-image: url(@/assets/images/is_outlinetrue21.svg);
}

.Pixso-vector-421_11165,.Pixso-vector-421_11166 {
  width: 16px;
  height: 16px;
  bottom: 48px;
}

.Pixso-vector-421_11165 {
  background-image: url(@/assets/images/corner10.svg);
  right: 0px;
}

.Pixso-vector-421_11166 {
  background-image: url(@/assets/images/corner9.svg);
  left: 0px;
}

.component-421_11155 {
  width: fit-content;
  height: fit-content;
}

.Pixso-instance-421_11164 .Pixso-symbol-421_11146 ,.Pixso-instance-421_11162 .Pixso-symbol-421_11141  {
  width: 24%;
  height: 50%;
}
