
.Pixso-symbol-3001_7935 {
  width: 24px;
  height: 24px;
  background-image: url(@/assets/images/CommunicationWiFi8.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.component-3001_7935 {
  width: fit-content;
  height: fit-content;
}
