
.Pixso-symbol-421_9795 {
  width: 36px;
  height: 16px;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.Pixso-instance-421_9796,.Pixso-instance-421_9797 {
  width: 16px;
  height: 16px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Pixso-instance-421_9796 {
  background-image: url(@/assets/images/is_outlinefalse31.svg);
}

.Pixso-instance-421_9797 {
  background-image: url(@/assets/images/is_outlinefalse30.svg);
}

.component-421_9795 {
  width: fit-content;
  height: fit-content;
}

.Pixso-instance-421_9797 .Pixso-symbol-421_9781 ,.Pixso-instance-421_9796 .Pixso-symbol-421_9776  {
  width: 16px;
  height: 16px;
}
