
.Pixso-symbol-421_10582,.Pixso-frame-421_10692,.Pixso-frame-421_10695 {
  flex-direction: row;
  align-items: center;
}

.Pixso-symbol-421_10582 {
  width: 360px;
  height: 40px;
  justify-content: space-between;
  padding: 8px 16px 8px 16px;
  background-color: var(--background-background-primary);
}

.Pixso-frame-421_10692 {
  gap: 4px;
}

.Pixso-paragraph-421_10693 {
  flex-direction: column;
  justify-content: center;
  color: var(--content-content-primary);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-instance-421_10694 {
  width: 36px;
  height: 16px;
}

.Pixso-frame-421_10695 {
  gap: 4px;
  justify-content: center;
}

.Pixso-instance-421_10696,.Pixso-instance-421_10697 {
  width: 16px;
  height: 16px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Pixso-instance-421_10696 {
  background-image: url(@/assets/images/is_outsidefalse0.svg);
}

.Pixso-instance-421_10697 {
  background-image: url(@/assets/images/avia24.svg);
}

.Pixso-instance-421_10698 {
  width: 40px;
  height: 20px;
}

.component-421_10582 {
  width: fit-content;
  height: fit-content;
}

.Pixso-instance-421_10697 .Pixso-symbol-421_10523 ,.Pixso-instance-421_10696 .Pixso-symbol-421_10520  {
  width: 16px;
  height: 16px;
}
