
.Pixso-symbol-1_26339 {
  width: 84px;
  height: 52px;
  overflow: hidden;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 8px 16px;
  border-radius: 16px 16px 16px 16px;
}

.Pixso-instance-1_26340,.Pixso-instance-1_26343 {
  width: 24px;
  height: 24px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Pixso-instance-1_26340 {
  background-image: url(@/assets/images/is_outlinetrue19.svg);
}

.Pixso-paragraph-1_26341 {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  white-space: pre;
  flex-grow: 0;
}

.Pixso-instance-1_26342 {
  width: 22px;
  height: 20px;
  border-radius: 8px 8px 8px 8px;
}

.Pixso-instance-1_26343 {
  background-image: url(@/assets/images/actionschevron_right212.svg);
}

.component-1_26339 {
  width: fit-content;
  height: fit-content;
}
