
.Pixso-symbol-1_26464 {
  width: 77px;
  height: 40px;
  overflow: hidden;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 8px 16px;
  border-radius: 12px 12px 12px 12px;
}

.Pixso-instance-1_26465,.Pixso-instance-1_26468 {
  width: 24px;
  height: 24px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Pixso-instance-1_26465 {
  background-image: url(@/assets/images/is_outlinetrue19.svg);
}

.Pixso-paragraph-1_26466 {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  white-space: pre;
  flex-grow: 0;
}

.Pixso-instance-1_26467 {
  width: 16px;
  height: 16px;
  border-radius: 6px 6px 6px 6px;
}

.Pixso-instance-1_26468 {
  background-image: url(@/assets/images/actionschevron_right212.svg);
}

.component-1_26464 {
  width: fit-content;
  height: fit-content;
}
