
.Pixso-symbol-421_10591,.Pixso-frame-421_10736 {
  flex-direction: row;
  align-items: center;
}

.Pixso-symbol-421_10591 {
  width: 360px;
  height: 40px;
  justify-content: space-between;
  padding: 8px 16px 8px 16px;
  background-color: var(--background-background-primary);
}

.Pixso-instance-421_10735 {
  width: 52px;
  height: 24px;
  background-color: var(--background-background-primary);
}

.Pixso-instance-421_10568,.Pixso-instance-421_10554 {
  width: 24px;
  height: 24px;
}

.Pixso-instance-421_10554 {
  background-color: var(--system-system-success-primary);
  border-radius: 12px 12px 12px 12px;
}

.Pixso-instance-421_10540,.Pixso-instance-421_10737,.Pixso-instance-421_10737 .Pixso-symbol-421_10523  {
  width: 16px;
  height: 16px;
}

.Pixso-instance-421_10540,.Pixso-instance-421_10737 {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Pixso-instance-421_10540 {
  background-image: url(@/assets/images/phone1.svg);
  overflow: hidden;
  z-index: 2;
}

.Pixso-frame-421_10736 {
  gap: 4px;
  justify-content: center;
}

.Pixso-instance-421_10737 {
  background-image: url(@/assets/images/avia24.svg);
}

.Pixso-instance-421_10738 {
  width: 40px;
  height: 20px;
}

.component-421_10591 {
  width: fit-content;
  height: fit-content;
}
