
.Pixso-symbol-3001_9828 {
  width: 84px;
  height: 52px;
  overflow: hidden;
  flex-direction: row;
  isolation: isolate;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 8px 16px;
  border-radius: 12px 12px 12px 12px;
}

.Pixso-rectangle-3001_9829 {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background-color: rgba(255, 255, 255, 0.08);
}

.Pixso-instance-3001_9830,.Pixso-instance-3001_9833 {
  width: 24px;
  height: 24px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Pixso-instance-3001_9830 {
  z-index: 2;
  background-image: url(@/assets/images/statusinfo180.svg);
}

.Pixso-paragraph-3001_9831 {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
  white-space: pre;
  flex-grow: 0;
}

.Pixso-instance-3001_9832 {
  width: 22px;
  height: 20px;
  z-index: 4;
  border-radius: 8px 8px 8px 8px;
}

.Pixso-instance-3001_9833 {
  z-index: 5;
  background-image: url(@/assets/images/actionschevron_right181.svg);
}

.component-3001_9828 {
  width: fit-content;
  height: fit-content;
}

.Pixso-instance-3001_9830 .Pixso-symbol-3001_9749 .Pixso-symbol-3001_9745 {
  background-image: url(@/assets/images/statusinfo180.svg);
}
