
.scroll-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.Pixso-frame-5573_22770 {
  width: 100%;
  height: 800px;
  overflow: hidden;
  border-radius: 24px 24px 24px 24px;
  background-color: rgba(255, 255, 255, 1);
}

.Pixso-rectangle-5573_22771,.Pixso-instance-5573_22807,.Pixso-instance-5573_22812,.Pixso-vector-5573_22818,.Pixso-vector-5573_22822,.Pixso-vector-5573_22826,.Pixso-vector-5573_22830,.Pixso-instance-5573_22834,.Pixso-instance-5573_22835,.Pixso-instance-5573_22840,.Pixso-instance-5573_22841,.Pixso-instance-3001_9869,.Pixso-instance-461_41103,.Pixso-instance-461_41100,.Pixso-vector-461_41083,.Pixso-instance-461_41107,.Pixso-vector-461_31515 {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Pixso-rectangle-5573_22771 {
  width: 480.599945px;
  height: 1068px;
  position: absolute;
  left: -60px;
  top: -134px;
  border-radius: 1px 1px 1px 1px;
  background-image: url(@/assets/images/bglockscreen20.png);
  background-position: center;
}

.Pixso-rectangle-5573_22772 {
  width: 360px;
  height: 800px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(31.463154, 31.463154, 31.463154, 0.12);
  backdrop-filter: blur(9.333333333333334px) saturate(1);
  -webkit-backdrop-filter: blur(9.333333333333334px) saturate(1);
}

.Pixso-frame-5573_22800,.frame-content-5573_22800,.Pixso-frame-5573_22801,.Pixso-frame-5573_22808,.frame-content-5573_22801 {
  flex-direction: column;
  align-items: flex-start;
}

.Pixso-frame-5573_22800 {
  width: 360px;
  position: absolute;
  left: 0px;
  top: 112px;
}

.frame-content-5573_22800 {
  gap: 74px;
  width: 100%;
}

.Pixso-frame-5573_22801,.Pixso-frame-5573_22808 {
  width: 100%;
}

.frame-content-5573_22801 {
  padding: 0px 16px 0px 16px;
  width: 100%;
}

.Pixso-paragraph-5573_22802,.Pixso-paragraph-5573_22803,.Pixso-paragraph-5573_22809,.Pixso-paragraph-5573_22814,.Pixso-paragraph-5573_22815,.Pixso-paragraph-5573_22810,.Pixso-paragraph-5573_22820,.Pixso-paragraph-5573_22824,.Pixso-paragraph-5573_22828,.Pixso-paragraph-5573_22832,.Pixso-paragraph-461_34711,.Pixso-paragraph-461_41110,.Pixso-paragraph-461_41093 {
  text-decoration: none;
  flex-grow: 0;
}

.Pixso-paragraph-5573_22802,.Pixso-paragraph-5573_22803 {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  font-feature-settings: "locl" 0;
  width: 328px;
  white-space: pre;
}

.Pixso-paragraph-5573_22802 {
  font-size: 80px;
  font-family: "Kaspersky Sans Text Clock-Regular";
  font-weight: 400;
  letter-spacing: 0em;
}

.Pixso-frame-5573_22804,.frame-content-5573_22804 {
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.frame-content-5573_22804 {
  gap: 24px;
}

.Pixso-frame-5573_22805 {
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
}

.Pixso-frame-5573_22806,.Pixso-frame-5573_22811 {
  width: 156px;
  border-radius: 16px 16px 16px 16px;
}

.Pixso-frame-5573_22806 {
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--colors-blue);
}

.frame-content-5573_22806 {
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  padding: 12px 12px 12px 12px;
  width: 100%;
}

.Pixso-instance-5573_22807,.Pixso-instance-5573_22812,.Pixso-instance-5573_22834,.Pixso-instance-5573_22835,.Pixso-instance-5573_22840,.Pixso-instance-5573_22841,.Pixso-instance-3001_9869,.Pixso-instance-5573_22807 .Pixso-symbol-3001_9728  {
  width: 24px;
  height: 24px;
}

.Pixso-instance-5573_22807 {
  background-image: url(@/assets/images/communicationdata_transfer8.svg);
}

.frame-content-5573_22808,.frame-content-5573_22813 {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.Pixso-paragraph-5573_22809,.Pixso-paragraph-5573_22814,.Pixso-paragraph-5573_22815,.Pixso-paragraph-5573_22810 {
  text-align: left;
  font-feature-settings: "locl" 0;
  width: 100%;
}

.Pixso-paragraph-5573_22809,.Pixso-paragraph-5573_22814,.Pixso-paragraph-5573_22815 {
  flex-direction: column;
  justify-content: center;
}

.Pixso-frame-5573_22811 {
  height: 96px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--content-content-background);
}

.frame-content-5573_22811 {
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  padding: 12px 12px 12px 12px;
  width: 100%;
  height: 100%;
}

.Pixso-instance-5573_22812 {
  background-image: url(@/assets/images/CommunicationWiFi8.svg);
}

.Pixso-frame-5573_22813 {
  width: 132px;
  flex-direction: column;
  align-items: flex-start;
}

.Pixso-frame-5573_22816 {
  flex-direction: row;
  align-items: flex-start;
}

.Pixso-frame-5573_22817,.Pixso-frame-5573_22821,.Pixso-frame-5573_22825,.Pixso-frame-5573_22829 {
  width: 88px;
  flex-direction: column;
  align-items: center;
}

.frame-content-5573_22817,.frame-content-5573_22821,.frame-content-5573_22825,.frame-content-5573_22829 {
  flex-direction: column;
  gap: 8px;
  align-items: center;
  width: 100%;
}

.Pixso-vector-5573_22818,.Pixso-vector-5573_22822,.Pixso-vector-5573_22826,.Pixso-vector-5573_22830 {
  width: 64px;
  padding: 10px 20px 10px 20px;
}

.Pixso-vector-5573_22818 {
  height: 64px;
  background-image: url(@/assets/images/Avia19.svg);
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.Pixso-paragraph-5573_22820,.Pixso-paragraph-5573_22824,.Pixso-paragraph-5573_22828,.Pixso-paragraph-5573_22832 {
  text-align: center;
  font-feature-settings: "locl" 0;
  width: 100%;
}

.Pixso-vector-5573_22822,.Pixso-vector-5573_22826,.Pixso-vector-5573_22830 {
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.Pixso-vector-5573_22822 {
  height: 64.001953125px;
  background-image: url(@/assets/images/Avia20.svg);
}

.Pixso-vector-5573_22826 {
  height: 64px;
  background-image: url(@/assets/images/Avia22.svg);
}

.Pixso-vector-5573_22830 {
  height: 64px;
  background-image: url(@/assets/images/Avia21.svg);
}

.Pixso-frame-5573_22833,.Pixso-frame-5573_22837,.frame-content-5573_22833 {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Pixso-frame-5573_22833,.Pixso-frame-5573_22837 {
  width: 328px;
  height: 48px;
  overflow: hidden;
  isolation: isolate;
  border-radius: 12px 12px 12px 12px;
}

.frame-content-5573_22833 {
  padding: 4px 16px 4px 16px;
  width: 100%;
  height: 100%;
}

.Pixso-instance-5573_22834 {
  z-index: 1;
  background-image: url(@/assets/images/volumevolume_mute4.svg);
}

.Pixso-instance-5573_22835 {
  z-index: 2;
  background-image: url(@/assets/images/volumevolume_up4.svg);
}

.Pixso-rectangle-5573_22836,.Pixso-rectangle-5573_22839 {
  width: 2px;
  border-radius: 8px 8px 8px 8px;
  background-color: rgba(0, 0, 0, 0.4);
}

.Pixso-rectangle-5573_22836 {
  height: 16px;
  position: absolute;
  z-index: 3;
  left: 324px;
  top: 15.998047px;
}

.frame-content-5573_22837,.Pixso-frame-5573_22838,.frame-content-5573_22838 {
  flex-direction: row;
  align-items: center;
}

.frame-content-5573_22837 {
  justify-content: space-between;
  padding: 0px 16px 0px 16px;
  width: 100%;
  height: 100%;
}

.Pixso-frame-5573_22838 {
  width: 152px;
  height: 48px;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: -0.001953px;
  justify-content: flex-end;
  border-radius: 12px 12px 12px 12px;
}

.frame-content-5573_22838 {
  gap: 10px;
  justify-content: flex-end;
  padding: 8px 2px 8px 2px;
  width: 100%;
  height: 100%;
}

.Pixso-rectangle-5573_22839 {
  height: 15.999998px;
}

.Pixso-instance-5573_22840 {
  z-index: 2;
  background-image: url(@/assets/images/screenlight_mode_04.svg);
}

.Pixso-instance-5573_22841 {
  z-index: 3;
  background-image: url(@/assets/images/screenlight_mode_1004.svg);
}

.Pixso-instance-5573_22842 {
  width: 328px;
  height: 52px;
  border-radius: 12px 12px 12px 12px;
}

.Pixso-paragraph-461_34711 {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  color: var(--content-content-constant);
  white-space: pre;
}

.Pixso-instance-3001_9869 {
  background-image: url(@/assets/images/statusinfo210.svg);
  overflow: hidden;
  display: none;
}

.Pixso-instance-5573_22843 {
  width: 360px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.Pixso-instance-461_41103,.Pixso-instance-461_41100 {
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.Pixso-instance-461_41103 {
  background-image: url(@/assets/images/wifil5022.svg);
}

.Pixso-instance-461_41100 {
  background-image: url(@/assets/images/signal5022.svg);
}

.Pixso-vector-461_41083 {
  width: 32px;
  height: 32px;
  background-image: url(@/assets/images/area20.svg);
  position: absolute;
  left: 0px;
  top: 0px;
}

.Pixso-instance-461_41106 {
  width: 48px;
  height: 20px;
}

.Pixso-instance-461_41107 {
  width: 16px;
  height: 16px;
  background-image: url(@/assets/images/batterychargelow22.svg);
  overflow: hidden;
}

.Pixso-paragraph-461_41110,.Pixso-paragraph-461_41093 {
  flex-direction: column;
  justify-content: center;
  color: var(--content-content-primary);
  white-space: pre;
}

.Pixso-paragraph-461_41110 {
  text-align: right;
}

.Pixso-paragraph-461_41093 {
  text-align: left;
}

.Pixso-instance-5573_22844 {
  width: 360px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 752px;
}

.Pixso-vector-461_31515 {
  width: 100px;
  height: 48px;
  background-image: url(@/assets/images/cont_215.svg);
  position: absolute;
  left: -130px;
  right: 130px;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  display: none;
}

.Pixso-instance-5573_22844 .Pixso-frame-421_11167 ,.Pixso-instance-5573_22844 .Pixso-vector-421_11171 ,.Pixso-instance-5573_22844 .Pixso-vector-421_11172  {
  display: none;
}

.Pixso-instance-5573_22842 .Pixso-instance-3001_9872 .Pixso-symbol-3001_9747 {
  background-image: url(@/assets/images/actionschevron_right211.svg);
}

.Pixso-instance-5573_22842 .Pixso-instance-3001_9869 .Pixso-symbol-3001_9745 {
  background-image: url(@/assets/images/statusinfo210.svg);
}

.Pixso-instance-461_41106 .Pixso-symbol-421_9828  {
  width: 48px;
  flex-shrink: 0;
}

.Pixso-instance-5573_22843 .Pixso-instance-3007_9529 .Pixso-paragraph-421_9830  {
  width: auto;
  height: auto;
}

.Pixso-instance-5573_22842 .Pixso-symbol-3001_9868  {
  width: 328px;
  flex-shrink: 0;
}

.Pixso-instance-5573_22843 .Pixso-frame-3007_9523  {
  width: 31px;
  height: 18px;
}
