
.scroll-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.Pixso-frame-5573_22677 {
  width: 100%;
  height: 800px;
  overflow: hidden;
  border-radius: 24px 24px 24px 24px;
  background-color: rgba(255, 255, 255, 1);
}

.Pixso-rectangle-5573_22678,.Pixso-rectangle-5573_22679,.Pixso-instance-461_38667,.Pixso-instance-461_38664,.Pixso-vector-461_38647,.Pixso-instance-461_38671,.Pixso-vector-461_30883 {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Pixso-rectangle-5573_22678,.Pixso-rectangle-5573_22679 {
  position: absolute;
  background-position: center;
}

.Pixso-rectangle-5573_22678 {
  width: 480.599945px;
  height: 1068px;
  left: -60px;
  top: -134px;
  border-radius: 1px 1px 1px 1px;
  background-image: url(@/assets/images/bglockscreen25.png);
}

.Pixso-rectangle-5573_22679 {
  width: 360px;
  height: 800px;
  left: 0px;
  top: 0px;
  background-image: url(@/assets/images/Call1.png);
}

.Pixso-rectangle-5573_22680 {
  width: 360px;
  height: 800px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(31.463154, 31.463154, 31.463154, 0.6);
  backdrop-filter: blur(9.333333333333334px) saturate(1);
  -webkit-backdrop-filter: blur(9.333333333333334px) saturate(1);
}

.Pixso-frame-5573_22725 {
  width: 352px;
  height: 439.001984px;
  position: absolute;
  left: 3px;
  top: 0px;
}

.Pixso-instance-5573_22768 {
  width: 360px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.Pixso-instance-461_38667,.Pixso-instance-461_38664,.Pixso-instance-461_38671 {
  width: 16px;
  height: 16px;
}

.Pixso-instance-461_38667,.Pixso-instance-461_38664 {
  overflow: hidden;
}

.Pixso-instance-461_38667 {
  background-image: url(@/assets/images/wifil5038.svg);
}

.Pixso-instance-461_38664 {
  background-image: url(@/assets/images/signal5038.svg);
}

.Pixso-vector-461_38647 {
  width: 32px;
  height: 32px;
  background-image: url(@/assets/images/area34.svg);
  position: absolute;
  left: 0px;
  top: 0px;
}

.Pixso-instance-461_38670 {
  width: 48px;
  height: 20px;
}

.Pixso-instance-461_38671 {
  background-image: url(@/assets/images/batterychargelow38.svg);
  overflow: hidden;
}

.Pixso-paragraph-461_38674,.Pixso-paragraph-461_38657 {
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: var(--content-content-primary);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-paragraph-461_38674 {
  text-align: right;
}

.Pixso-paragraph-461_38657 {
  text-align: left;
}

.Pixso-instance-5573_22769 {
  width: 360px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 752px;
}

.Pixso-vector-461_30883 {
  width: 100px;
  height: 48px;
  background-image: url(@/assets/images/cont_227.svg);
  position: absolute;
  left: -130px;
  right: 130px;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  display: none;
}

.Pixso-instance-5573_22769 .Pixso-frame-421_11167 ,.Pixso-instance-5573_22769 .Pixso-vector-421_11171 ,.Pixso-instance-5573_22769 .Pixso-vector-421_11172  {
  display: none;
}

.Pixso-instance-461_38670 .Pixso-symbol-421_9828  {
  width: 48px;
  flex-shrink: 0;
}

.Pixso-instance-5573_22768 .Pixso-instance-3007_9529 .Pixso-paragraph-421_9830  {
  width: auto;
  height: auto;
}

.Pixso-instance-5573_22768 .Pixso-frame-3007_9523  {
  width: 31px;
  height: 18px;
}
