
.scroll-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.Pixso-frame-5573_18895 {
  width: 100%;
  height: 800px;
  overflow: hidden;
  border-radius: 24px 24px 24px 24px;
  background-color: rgba(255, 255, 255, 1);
}

.Pixso-rectangle-5573_18896,.Pixso-instance-5573_18952 {
  position: absolute;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Pixso-rectangle-5573_18896 {
  width: 480.599945px;
  height: 1068px;
  left: -60px;
  top: -134px;
  border-radius: 1px 1px 1px 1px;
  background-image: url(@/assets/images/bglockscreen1.png);
  background-position: center;
}

.Pixso-instance-5573_18952 {
  width: 24px;
  height: 24px;
  left: 168px;
  top: 112px;
  background-image: url(@/assets/images/is_outlinefalse37.svg);
}

.Pixso-instance-5573_18967 {
  width: 360px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.Pixso-instance-461_39044,.Pixso-instance-461_39041 {
  width: 16px;
  height: 16px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.Pixso-instance-461_39044 {
  background-image: url(@/assets/images/wifil503.svg);
}

.Pixso-instance-461_39041 {
  background-image: url(@/assets/images/signal503.svg);
}

.Pixso-vector-461_39024 {
  width: 32px;
  height: 32px;
  background-image: url(@/assets/images/area1.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
}

.Pixso-instance-461_39047 {
  width: 48px;
  height: 20px;
}

.Pixso-instance-461_39048 {
  width: 16px;
  height: 16px;
  background-image: url(@/assets/images/batterychargelow3.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.Pixso-paragraph-461_39051,.Pixso-paragraph-3007_9524 {
  flex-direction: column;
  justify-content: center;
  color: var(--content-content-primary);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-paragraph-461_39051 {
  text-align: right;
  text-decoration: none;
}

.Pixso-paragraph-3007_9524,.Pixso-instance-5573_18967 .Pixso-paragraph-3007_9524  {
  display: none;
}

.Pixso-instance-461_39047 .Pixso-symbol-421_9828  {
  width: 48px;
  flex-shrink: 0;
}

.Pixso-instance-5573_18967 .Pixso-instance-3007_9529 .Pixso-paragraph-421_9830  {
  width: auto;
  height: auto;
}
