
.Pixso-symbol-3001_24571 {
  width: 100%;
  height: 100%;
  background-image: url(@/assets/images/is_outlinetrue35.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  right: 0%;
  bottom: 0%;
}

.component-3001_24571 {
  width: fit-content;
  height: fit-content;
}
