
.Pixso-symbol-421_9788 {
  width: 24px;
  height: 24.00197982788086px;
  background-image: url(@/assets/images/is_outlinetrue29.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.component-421_9788 {
  width: fit-content;
  height: fit-content;
}
