
.Pixso-symbol-421_9781 {
  width: 24px;
  height: 24px;
  background-image: url(@/assets/images/is_outlinefalse30.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.component-421_9781 {
  width: fit-content;
  height: fit-content;
}
