
.Pixso-symbol-421_10531 {
  width: 27.27%;
  height: 100%;
  background-image: url(@/assets/images/is_outlinefalse25.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  right: 72.73%;
  bottom: 0%;
}

.component-421_10531 {
  width: fit-content;
  height: fit-content;
}
