
.Pixso-symbol-1_26822 {
  width: 24px;
  height: 24px;
  background-image: url(@/assets/images/is_outlinetrue19.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.component-1_26822 {
  width: fit-content;
  height: fit-content;
}
