
.Pixso-symbol-3078_6318 {
  width: 24px;
  height: 24px;
  background-image: url(@/assets/images/is_outlinefalse32.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.component-3078_6318 {
  width: fit-content;
  height: fit-content;
}
