
.Pixso-symbol-3078_6268,.Pixso-frame-3078_6269 {
  width: 320px;
  height: 56px;
  border-radius: 16px 16px 16px 16px;
}

.Pixso-symbol-3078_6268 {
  background-color: var(--system-system-error-primary-b0e6aa706b44c7f616e0228a8ec0fd61a91110f7-17178-128);
}

.Pixso-frame-3078_6269 {
  position: absolute;
  right: 56px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: row;
  align-items: center;
  background-color: var(--background-background-primary);
}

.frame-content-3078_6269 {
  flex-direction: row;
  gap: 12px;
  align-items: center;
  padding: 6px 6px 6px 6px;
  width: 100%;
  height: 100%;
}

.Pixso-instance-3078_6270,.Pixso-instance-3078_6275 {
  width: 44px;
  height: 44px;
  background-color: var(--content-content-background);
  border-radius: 12px 12px 12px 12px;
}

.Pixso-frame-3078_6271,.frame-content-3078_6271 {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
}

.Pixso-frame-3078_6271 {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
}

.frame-content-3078_6271 {
  gap: 6px;
}

.Pixso-paragraph-3078_6272,.Pixso-paragraph-3078_6273 {
  font-family: "Kaspersky Sans Text-Regular";
  font-weight: 400;
  display: -webkit-box;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0em;
  font-feature-settings: "locl" 0;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  width: 100%;
  flex-grow: 0;
}

.Pixso-paragraph-3078_6272 {
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}

.Pixso-paragraph-3078_6273 {
  font-size: 14px;
  line-height: 100%;
  color: var(--secondary);
}

.Pixso-instance-3078_6274 {
  width: 72px;
  height: 44px;
  background-color: var(--content-content-background-113fa0d588687a52463a208f8d66842ba85c4131-10852-401);
  border-radius: 12px 12px 12px 12px;
}

.Pixso-instance-3078_6276 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 282px;
  top: 18px;
  background-image: url(@/assets/images/is_outlinefalse34.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.component-3078_6268 {
  width: fit-content;
  height: fit-content;
}

.Pixso-instance-3078_6276 .Pixso-symbol-3078_6242  {
  width: 20px;
  height: 20px;
}
