
.Pixso-symbol-3078_6292 {
  width: 320px;
  height: 80px;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  padding: 6px 6px 6px 6px;
  border-radius: 16px 16px 16px 16px;
}

.Pixso-instance-3078_6293 {
  width: 44px;
  height: 44px;
  background-color: var(--content-content-background);
  border-radius: 12px 12px 12px 12px;
}

.Pixso-frame-3078_6294,.frame-content-3078_6294 {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
}

.Pixso-frame-3078_6294 {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
}

.frame-content-3078_6294 {
  gap: 6px;
}

.Pixso-paragraph-3078_6295,.Pixso-paragraph-3078_6296 {
  font-family: "Kaspersky Sans Text-Regular";
  font-weight: 400;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0em;
  width: 100%;
  flex-grow: 0;
}

.Pixso-paragraph-3078_6295 {
  font-size: 14px;
  display: -webkit-box;
  line-height: 100%;
  font-feature-settings: "locl" 0;
  color: var(--secondary);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.Pixso-paragraph-3078_6296 {
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}

.Pixso-instance-3078_6297 {
  width: 72px;
  height: 44px;
  background-color: var(--content-content-background-113fa0d588687a52463a208f8d66842ba85c4131-10852-401);
  border-radius: 12px 12px 12px 12px;
}

.Pixso-instance-3078_6298 {
  width: 44px;
  height: 44px;
  background-color: var(--background);
  border-radius: 12px 12px 12px 12px;
}

.component-3078_6292 {
  width: fit-content;
  height: fit-content;
}
