
.Pixso-symbol-3008_19689 {
  width: 93.51%;
  height: 36px;
  right: 6.49%;
  bottom: 96px;
}

.Pixso-group-3008_19690 {
  width: 576px;
  height: 1178px;
  position: absolute;
  left: 0px;
  top: -1142px;
}

.Pixso-frame-3008_19692 {
  width: calc(100% - 0px);
  height: calc(100% - -102px);
  position: absolute;
  left: 0px;
  right: 0px;
  top: -102px;
  bottom: 0px;
}

.Pixso-instance-3008_19693 {
  width: 576px;
  height: 576px;
  position: absolute;
  left: 0.000125px;
  top: 704.00061px;
}

.Pixso-instance-3008_19694 {
  width: 128px;
  height: 64px;
  position: absolute;
  left: 224px;
  top: -28px;
}

.component-3008_19689 {
  width: fit-content;
  height: fit-content;
}
