
.Pixso-symbol-3078_6224 {
  width: 32px;
  height: 32px;
  flex-direction: row;
  isolation: isolate;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 8px 8px 8px 8px;
  background-color: var(--content-content-background);
}

.Pixso-paragraph-3078_6225 {
  flex-direction: column;
  justify-content: center;
  color: var(--content-content-primary);
  z-index: 1;
  white-space: pre;
  flex-grow: 0;
}

.Pixso-instance-3078_6226,.Pixso-instance-3078_6226 .Pixso-symbol-3078_6197  {
  width: 16px;
  height: 16px;
}

.Pixso-instance-3078_6226 {
  position: absolute;
  z-index: 2;
  left: 20px;
  top: 20px;
}

.component-3078_6224 {
  width: fit-content;
  height: fit-content;
}
