
.Pixso-symbol-421_10546 {
  width: 74px;
  height: 24px;
  overflow: hidden;
  bottom: 82.5px;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  padding: 0px 8px 0px 8px;
  border-radius: 12px 12px 12px 12px;
  background-color: var(--system-system-error-primary-b0e6aa706b44c7f616e0228a8ec0fd61a91110f7-17178-128);
}

.Pixso-instance-421_10552,.Pixso-instance-421_10552 .Pixso-symbol-421_10531  {
  width: 16px;
  height: 16px;
}

.Pixso-instance-421_10552 {
  background-image: url(@/assets/images/is_outlinefalse25.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Pixso-paragraph-421_10553 {
  flex-direction: column;
  justify-content: center;
  color: var(--content-content-constant);
  white-space: pre;
  flex-grow: 0;
}

.component-421_10546 {
  width: fit-content;
  height: fit-content;
}
