
.Pixso-symbol-1_1323 {
  width: 69px;
  height: var(--small-size);
  overflow: hidden;
  flex-direction: row;
  gap: 4px;
  justify-content: center;
  align-items: center;
  padding: 6px 12px 6px 12px;
  border-radius: var(--small-radius) var(--small-radius) var(--small-radius) var(--small-radius);
  background-color: var(--content-content-border-3a9b5f9c6b64eae1133d8e92e07a7d8fdc679df2-10852-400);
}

.Pixso-instance-1_1324,.Pixso-instance-1_1326,.Pixso-instance-1_1327,.Pixso-instance-1_1327 .Pixso-symbol-1_848 ,.Pixso-instance-1_1324 .Pixso-symbol-1_817  {
  width: 16px;
  height: 16px;
}

.Pixso-instance-1_1324,.Pixso-instance-1_1327 {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Pixso-instance-1_1324 {
  background-image: url(@/assets/images/is_outlinetrue38.svg);
}

.Pixso-paragraph-1_1325 {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  color: var(--content-content-primary-d19f126556c8423d899988749bcb72b3645b5ef5-10852-376);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-instance-1_1326 {
  background-color: var(--background-background-primary-3ebb80646f48fad8c7b735a4cde2621aa78c6dc6-14213-49);
  border-radius: 6px 6px 6px 6px;
}

.Pixso-instance-1_1327 {
  background-image: url(@/assets/images/chevronright0.svg);
}

.component-1_1323 {
  width: fit-content;
  height: fit-content;
}
