
.Pixso-symbol-1_1093 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 14px 16px 14px 16px;
  border-radius: var(--big-radius) var(--big-radius) var(--big-radius) var(--big-radius);
  z-index: 1;
  background-color: var(--accent-accent-background);
}

.stroke-wrapper-1_1093 {
  isolation: isolate;
  width: 84px;
  height: var(--big-size);
}

.stroke-1_1093 {
  position: absolute;
  inset: 0px;
  border-radius: 16px 16px 16px 16px;
  pointer-events: none;
  z-index: 0;
  border-width: 2px 2px 2px 2px;
  border-style: solid;
  box-sizing: border-box;
  border-color: var(--accent-accent-primary-1d3dcea5276688a36ab7e7ecf88088bfd47731e6-10852-431);
}

.Pixso-instance-1_1094,.Pixso-instance-1_1097 {
  width: 24px;
  height: 24px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Pixso-instance-1_1094 {
  background-image: url(@/assets/images/is_outlinetrue38.svg);
}

.Pixso-paragraph-1_1095 {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  color: var(--accent-accent-primary-1d3dcea5276688a36ab7e7ecf88088bfd47731e6-10852-431);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-instance-1_1096 {
  width: 22px;
  height: 20px;
  background-color: var(--accent-accent-primary-1d3dcea5276688a36ab7e7ecf88088bfd47731e6-10852-431);
  border-radius: 8px 8px 8px 8px;
}

.Pixso-instance-1_1097 {
  background-image: url(@/assets/images/chevronright0.svg);
}

.component-1_1093 {
  width: fit-content;
  height: fit-content;
}
