
.Pixso-symbol-1_1278 {
  width: 77px;
  height: var(--medium-size);
  overflow: hidden;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 10px 16px 10px 16px;
  border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
  background-color: var(--content-content-disabled-b2ff9154775a62cd8930302b3f575651d7504bbb-10852-399);
}

.Pixso-instance-1_1279,.Pixso-instance-1_1282 {
  width: 24px;
  height: 24px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Pixso-instance-1_1279 {
  background-image: url(@/assets/images/is_outlinetrue38.svg);
}

.Pixso-paragraph-1_1280 {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  color: var(--content-content-primary-d19f126556c8423d899988749bcb72b3645b5ef5-10852-376);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-instance-1_1281 {
  width: 16px;
  height: 16px;
  background-color: var(--accent-accent-primary-1d3dcea5276688a36ab7e7ecf88088bfd47731e6-10852-431);
  border-radius: 6px 6px 6px 6px;
}

.Pixso-instance-1_1282 {
  background-image: url(@/assets/images/chevronright0.svg);
}

.component-1_1278 {
  width: fit-content;
  height: fit-content;
}
