
.Pixso-symbol-1_1348 {
  width: 77px;
  height: var(--medium-size);
  overflow: hidden;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 10px 16px 10px 16px;
  border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
  background-color: var(--content-content-background-207c8e338a38c76220b7a415b1de318f805dfbed-10852-401);
}

.Pixso-instance-1_1349,.Pixso-instance-1_1352 {
  width: 24px;
  height: 24px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Pixso-instance-1_1349 {
  background-image: url(@/assets/images/is_outlinetrue38.svg);
}

.Pixso-paragraph-1_1350 {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  color: var(--content-content-disabled-b2ff9154775a62cd8930302b3f575651d7504bbb-10852-399);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-instance-1_1351 {
  width: 16px;
  height: 16px;
  background-color: var(--content-content-background-207c8e338a38c76220b7a415b1de318f805dfbed-10852-401);
  border-radius: 6px 6px 6px 6px;
}

.Pixso-instance-1_1352 {
  background-image: url(@/assets/images/chevronright0.svg);
}

.component-1_1348 {
  width: fit-content;
  height: fit-content;
}
