
.Pixso-symbol-1_1223 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-direction: row;
  gap: 4px;
  justify-content: center;
  align-items: center;
  padding: 6px 12px 6px 12px;
  border-radius: var(--small-radius) var(--small-radius) var(--small-radius) var(--small-radius);
  z-index: 1;
  background-color: var(--accent-accent-background);
}

.stroke-wrapper-1_1223 {
  isolation: isolate;
  width: 69px;
  height: var(--small-size);
}

.stroke-1_1223 {
  position: absolute;
  inset: 0px;
  border-radius: 8px 8px 8px 8px;
  pointer-events: none;
  z-index: 0;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  border-color: var(--accent-accent-primary-1d3dcea5276688a36ab7e7ecf88088bfd47731e6-10852-431);
}

.Pixso-instance-1_1224,.Pixso-instance-1_1226,.Pixso-instance-1_1227,.Pixso-instance-1_1227 .Pixso-symbol-1_848 ,.Pixso-instance-1_1224 .Pixso-symbol-1_817  {
  width: 16px;
  height: 16px;
}

.Pixso-instance-1_1224,.Pixso-instance-1_1227 {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Pixso-instance-1_1224 {
  background-image: url(@/assets/images/is_outlinetrue38.svg);
}

.Pixso-paragraph-1_1225 {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  color: var(--accent-accent-primary-1d3dcea5276688a36ab7e7ecf88088bfd47731e6-10852-431);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-instance-1_1226 {
  background-color: var(--accent-accent-primary-1d3dcea5276688a36ab7e7ecf88088bfd47731e6-10852-431);
  border-radius: 6px 6px 6px 6px;
}

.Pixso-instance-1_1227 {
  background-image: url(@/assets/images/chevronright0.svg);
}

.component-1_1223 {
  width: fit-content;
  height: fit-content;
}
