
.Pixso-symbol-1_1233 {
  width: 69px;
  height: var(--small-size);
  overflow: hidden;
  flex-direction: row;
  gap: 4px;
  justify-content: center;
  align-items: center;
  padding: 6px 12px 6px 12px;
  border-radius: var(--small-radius) var(--small-radius) var(--small-radius) var(--small-radius);
  background-color: var(--accent-accent-border);
}

.Pixso-instance-1_1234,.Pixso-instance-1_1236,.Pixso-instance-1_1237,.Pixso-instance-1_1237 .Pixso-symbol-1_848 ,.Pixso-instance-1_1234 .Pixso-symbol-1_817  {
  width: 16px;
  height: 16px;
}

.Pixso-instance-1_1234,.Pixso-instance-1_1237 {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Pixso-instance-1_1234 {
  background-image: url(@/assets/images/is_outlinetrue38.svg);
}

.Pixso-paragraph-1_1235 {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  color: var(--accent-accent-primary-1d3dcea5276688a36ab7e7ecf88088bfd47731e6-10852-431);
  white-space: pre;
  flex-grow: 0;
}

.Pixso-instance-1_1236 {
  background-color: var(--accent-accent-primary-1d3dcea5276688a36ab7e7ecf88088bfd47731e6-10852-431);
  border-radius: 6px 6px 6px 6px;
}

.Pixso-instance-1_1237 {
  background-image: url(@/assets/images/chevronright0.svg);
}

.component-1_1233 {
  width: fit-content;
  height: fit-content;
}
