
.Pixso-symbol-1_842,.Pixso-paragraph-1_843 {
  flex-direction: column;
  justify-content: center;
}

.Pixso-symbol-1_842 {
  width: 16px;
  height: 16px;
  gap: 10px;
  align-items: center;
  padding: 0px 4px 0px 4px;
  border-radius: 6px 6px 6px 6px;
  background-color: var(--system-system-warning-primary);
}

.Pixso-paragraph-1_843 {
  text-align: center;
  color: var(--content-content-constant-d73426dc8b2e21cc9b9975385c913a385487c055-10852-349);
  white-space: pre;
  flex-grow: 0;
}

.component-1_842 {
  width: fit-content;
  height: fit-content;
}
