
.Pixso-symbol-1981_158330 {
        width: 20px;
height: 20px;
overflow: hidden;
position: relative;
      }
.Pixso-vector-1981_158327 {
        width: 6.25%;
height: 66.24%;
background-image: url(@/assets/images/Rectangle2913.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 82.5%;
right: 11.25%;
top: 18.2%;
bottom: 15.56%;
      }
.Pixso-vector-1981_158328 {
        width: 4.17%;
height: 57.16%;
background-image: url(@/assets/images/Rectangle2914.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 92.08%;
right: 3.75%;
top: 22.75%;
bottom: 20.09%;
      }
.Pixso-vector-1981_158329 {
        width: 75%;
height: 75%;
background-image: url(@/assets/images/Union.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 4.17%;
right: 20.83%;
top: 12.5%;
bottom: 12.5%;
      }
.component-1981_158330 {
        width: fit-content;
height: fit-content;
      }

