
.Pixso-symbol-894_155160 {
        
      }
.Pixso-symbol-894_155161 {
        width: 120px;
height: 120px;
overflow: hidden;
position: relative;
border-radius: 40px 40px 40px 40px;
      }
.Pixso-rectangle-894_155162 {
        width: 100%;
height: 100%;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/c832668ea2483d22124deffdce1f99bb68cbad49.png);
      }
.Pixso-symbol-894_155163 {
        width: 120px;
height: 120px;
overflow: hidden;
position: relative;
border-radius: 40px 40px 40px 40px;
      }
.Pixso-rectangle-894_155165 {
        width: 100%;
height: 100%;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/c832668ea2483d22124deffdce1f99bb68cbad49.png);
      }
.Pixso-symbol-894_155166 {
        width: 120px;
height: 120px;
position: relative;
border-radius: 40px 40px 40px 40px;
background-color: var(--content-content-background);
      }
.Pixso-instance-894_155167 {
        width: 64px;
height: 64px;
background-image: url(@/assets/images/persone54.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 28px;
top: 28px;
      }
.Pixso-symbol-894_155168 {
        width: 120px;
height: 120px;
position: relative;
border-radius: 40px 40px 40px 40px;
      }
.Pixso-vector-894_155169 {
        width: 96.55%;
height: 100%;
background-image: url(@/assets/images/bg15.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.67%;
right: 1.78%;
top: 0%;
bottom: 0%;
      }
.Pixso-instance-894_155170 {
        width: 64px;
height: 64px;
background-image: url(@/assets/images/persone52.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 28px;
top: 28px;
      }
.Pixso-symbol-894_155171 {
        width: 120px;
height: 120px;
position: relative;
border-radius: 40px 40px 40px 40px;
background-color: var(--content-content-background);
      }
.Pixso-paragraph-894_155172 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary-d19f126556c8423d899988749bcb72b3645b5ef5-17178-131);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0.5px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155173 {
        width: 120px;
height: 120px;
position: relative;
border-radius: 40px 40px 40px 40px;
      }
.Pixso-vector-894_155174 {
        width: 96.55%;
height: 100%;
background-image: url(@/assets/images/bg18.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.67%;
right: 1.78%;
top: 0%;
bottom: 0%;
      }
.Pixso-paragraph-894_155175 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary-d19f126556c8423d899988749bcb72b3645b5ef5-17178-131);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0.5px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155176 {
        width: 120px;
height: 120px;
overflow: hidden;
position: relative;
      }
.Pixso-vector-894_155177 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/photo12.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-vector-894_155178 {
        width: 16.67%;
height: 16.67%;
background-image: url(@/assets/images/status56.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 83.33%;
right: 0%;
top: 83.33%;
bottom: 0%;
      }
.Pixso-symbol-894_155179 {
        width: 120px;
height: 120px;
overflow: hidden;
position: relative;
      }
.Pixso-frame-894_155180 {
        width: 115.862068px;
height: 120px;
overflow: hidden;
position: absolute;
left: 2px;
top: 0px;
      }
.Pixso-vector-894_155182 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/photo11.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: -1.73%;
right: 1.73%;
top: 0%;
bottom: 0%;
      }
.Pixso-vector-894_155183 {
        width: 16.67%;
height: 16.67%;
background-image: url(@/assets/images/status55.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 83.33%;
right: 0%;
top: 83.33%;
bottom: 0%;
      }
.Pixso-symbol-894_155184 {
        width: 120px;
height: 120px;
position: relative;
border-radius: 32px 32px 32px 32px;
      }
.Pixso-vector-894_155185 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/overlay8.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-vector-894_155186 {
        width: 16.67%;
height: 16.67%;
background-image: url(@/assets/images/status54.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 83.33%;
right: 0%;
top: 83.33%;
bottom: 0%;
      }
.Pixso-instance-894_155187 {
        width: 64px;
height: 64px;
background-image: url(@/assets/images/persone57.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 28px;
top: 28px;
      }
.Pixso-symbol-894_155188 {
        width: 120px;
height: 120px;
position: relative;
border-radius: 32px 32px 32px 32px;
      }
.Pixso-vector-894_155189 {
        width: 16.67%;
height: 16.67%;
background-image: url(@/assets/images/status51.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 83.33%;
right: 0%;
top: 83.33%;
bottom: 0%;
      }
.Pixso-vector-894_155190 {
        width: 115.8623046875px;
height: 120px;
background-image: url(@/assets/images/Subtract20.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2px;
top: 0px;
      }
.Pixso-instance-894_155193 {
        width: 64px;
height: 64px;
background-image: url(@/assets/images/persone56.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 28px;
top: 28px;
      }
.Pixso-symbol-894_155194 {
        width: 120px;
height: 120px;
position: relative;
border-radius: 32px 32px 32px 32px;
      }
.Pixso-vector-894_155195 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/overlay6.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-vector-894_155196 {
        width: 16.67%;
height: 16.67%;
background-image: url(@/assets/images/status49.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 83.33%;
right: 0%;
top: 83.33%;
bottom: 0%;
      }
.Pixso-paragraph-894_155197 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary-d19f126556c8423d899988749bcb72b3645b5ef5-17178-131);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0.5px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155198 {
        width: 120px;
height: 120px;
position: relative;
border-radius: 32px 32px 32px 32px;
      }
.Pixso-vector-894_155199 {
        width: 115.8623046875px;
height: 120px;
background-image: url(@/assets/images/Subtract21.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2px;
top: 0px;
      }
.Pixso-vector-894_155202 {
        width: 16.67%;
height: 16.67%;
background-image: url(@/assets/images/status58.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 83.33%;
right: 0%;
top: 83.33%;
bottom: 0%;
      }
.Pixso-paragraph-894_155203 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary-d19f126556c8423d899988749bcb72b3645b5ef5-17178-131);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0.5px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155204 {
        width: 88px;
height: 88px;
overflow: hidden;
position: relative;
border-radius: 32px 32px 32px 32px;
      }
.Pixso-rectangle-894_155205 {
        width: 100%;
height: 100%;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/c832668ea2483d22124deffdce1f99bb68cbad49.png);
      }
.Pixso-symbol-894_155206 {
        width: 88px;
height: 88px;
overflow: hidden;
position: relative;
border-radius: 32px 32px 32px 32px;
      }
.Pixso-rectangle-894_155208 {
        width: 100%;
height: 100%;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/c832668ea2483d22124deffdce1f99bb68cbad49.png);
      }
.Pixso-symbol-894_155209 {
        width: 88px;
height: 88px;
position: relative;
border-radius: 32px 32px 32px 32px;
background-color: var(--content-content-background);
      }
.Pixso-instance-894_155210 {
        width: 48px;
height: 48px;
background-image: url(@/assets/images/persone55.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 20px;
top: 20px;
      }
.Pixso-symbol-894_155211 {
        width: 88px;
height: 88px;
position: relative;
border-radius: 32px 32px 32px 32px;
      }
.Pixso-vector-894_155212 {
        width: 96.55%;
height: 100%;
background-image: url(@/assets/images/bg14.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.27%;
right: 1.18%;
top: 0%;
bottom: 0%;
      }
.Pixso-instance-894_155213 {
        width: 48px;
height: 48px;
background-image: url(@/assets/images/persone51.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 20px;
top: 20px;
      }
.Pixso-symbol-894_155214 {
        width: 88px;
height: 88px;
position: relative;
border-radius: 32px 32px 32px 32px;
background-color: var(--content-content-background);
      }
.Pixso-paragraph-894_155215 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary-d19f126556c8423d899988749bcb72b3645b5ef5-17178-131);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0.5px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155216 {
        width: 88px;
height: 88px;
position: relative;
border-radius: 32px 32px 32px 32px;
      }
.Pixso-vector-894_155217 {
        width: 96.55%;
height: 100%;
background-image: url(@/assets/images/bg13.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.27%;
right: 1.18%;
top: 0%;
bottom: 0%;
      }
.Pixso-paragraph-894_155218 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary-d19f126556c8423d899988749bcb72b3645b5ef5-17178-131);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0.5px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155219 {
        width: 88px;
height: 88px;
overflow: hidden;
position: relative;
      }
.Pixso-vector-894_155220 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/photo10.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-vector-894_155221 {
        width: 18.18%;
height: 18.18%;
background-image: url(@/assets/images/status48.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 81.82%;
right: 0%;
top: 81.82%;
bottom: 0%;
      }
.Pixso-symbol-894_155222 {
        width: 88px;
height: 88px;
overflow: hidden;
position: relative;
      }
.Pixso-frame-894_155223 {
        width: 84.965515px;
height: 88px;
overflow: hidden;
position: absolute;
left: 2px;
top: 0px;
      }
.Pixso-vector-894_155225 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/photo9.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: -2.35%;
right: 2.35%;
top: 0%;
bottom: 0%;
      }
.Pixso-vector-894_155226 {
        width: 18.18%;
height: 18.18%;
background-image: url(@/assets/images/status47.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 81.82%;
right: 0%;
top: 81.82%;
bottom: 0%;
      }
.Pixso-symbol-894_155227 {
        width: 88px;
height: 88px;
position: relative;
border-radius: 32px 32px 32px 32px;
      }
.Pixso-vector-894_155228 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/overlay5.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-vector-894_155229 {
        width: 18.18%;
height: 18.18%;
background-image: url(@/assets/images/status46.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 81.82%;
right: 0%;
top: 81.82%;
bottom: 0%;
      }
.Pixso-instance-894_155230 {
        width: 48px;
height: 48px;
background-image: url(@/assets/images/persone50.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 20px;
top: 20px;
      }
.Pixso-symbol-894_155231 {
        width: 88px;
height: 88px;
position: relative;
border-radius: 32px 32px 32px 32px;
      }
.Pixso-vector-894_155232 {
        width: 84.9658203125px;
height: 88px;
background-image: url(@/assets/images/Subtract18.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2px;
top: 0px;
      }
.Pixso-vector-894_155235 {
        width: 18.18%;
height: 18.18%;
background-image: url(@/assets/images/status45.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 81.82%;
right: 0%;
top: 81.82%;
bottom: 0%;
      }
.Pixso-instance-894_155236 {
        width: 48px;
height: 48px;
background-image: url(@/assets/images/persone49.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 20px;
top: 20px;
      }
.Pixso-symbol-894_155237 {
        width: 88px;
height: 88px;
position: relative;
border-radius: 32px 32px 32px 32px;
      }
.Pixso-vector-894_155238 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/overlay4.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-vector-894_155239 {
        width: 18.18%;
height: 18.18%;
background-image: url(@/assets/images/status44.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 81.82%;
right: 0%;
top: 81.82%;
bottom: 0%;
      }
.Pixso-paragraph-894_155240 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary-d19f126556c8423d899988749bcb72b3645b5ef5-17178-131);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0.5px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155241 {
        width: 88px;
height: 88px;
position: relative;
border-radius: 32px 32px 32px 32px;
      }
.Pixso-vector-894_155242 {
        width: 84.9658203125px;
height: 88px;
background-image: url(@/assets/images/Subtract17.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2px;
top: 0px;
      }
.Pixso-vector-894_155245 {
        width: 18.18%;
height: 18.18%;
background-image: url(@/assets/images/status43.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 81.82%;
right: 0%;
top: 81.82%;
bottom: 0%;
      }
.Pixso-paragraph-894_155246 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary-d19f126556c8423d899988749bcb72b3645b5ef5-17178-131);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0.5px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155247 {
        width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
overflow: hidden;
position: relative;
border-radius: var(--big-radius) var(--big-radius) var(--big-radius) var(--big-radius);
      }
.Pixso-rectangle-894_155248 {
        width: 100%;
height: 100%;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
border-radius: var(--big-radius) var(--big-radius) var(--big-radius) var(--big-radius);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/c832668ea2483d22124deffdce1f99bb68cbad49.png);
      }
.Pixso-symbol-894_155249 {
        width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
overflow: hidden;
position: relative;
border-radius: 24px 24px 24px 24px;
      }
.Pixso-rectangle-894_155251 {
        width: 100%;
height: 100%;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/c832668ea2483d22124deffdce1f99bb68cbad49.png);
      }
.Pixso-symbol-894_155252 {
        width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
position: relative;
border-radius: var(--big-radius) var(--big-radius) var(--big-radius) var(--big-radius);
background-color: var(--content-content-background);
      }
.Pixso-instance-894_155253 {
        width: 29.25px;
height: 29.25px;
background-image: url(@/assets/images/persone58.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 11.375px;
top: 11.375px;
      }
.Pixso-symbol-894_155254 {
        width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
position: relative;
border-radius: 24px 24px 24px 24px;
      }
.Pixso-vector-894_155255 {
        width: 96.55%;
height: 100%;
background-image: url(@/assets/images/bg17.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.13%;
right: 0.32%;
top: 0%;
bottom: 0%;
      }
.Pixso-instance-894_155256 {
        width: 29.25px;
height: 29.25px;
background-image: url(@/assets/images/persone53.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 11.375px;
top: 11.375px;
      }
.Pixso-symbol-894_155257 {
        width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
position: relative;
border-radius: var(--big-radius) var(--big-radius) var(--big-radius) var(--big-radius);
background-color: var(--content-content-background);
      }
.Pixso-paragraph-894_155258 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary-d19f126556c8423d899988749bcb72b3645b5ef5-17178-131);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155259 {
        width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
position: relative;
border-radius: 24px 24px 24px 24px;
      }
.Pixso-vector-894_155260 {
        width: 96.55%;
height: 100%;
background-image: url(@/assets/images/bg16.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.13%;
right: 0.32%;
top: 0%;
bottom: 0%;
      }
.Pixso-paragraph-894_155261 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary-d19f126556c8423d899988749bcb72b3645b5ef5-17178-131);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155262 {
        width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
position: relative;
border-radius: var(--big-radius) var(--big-radius) var(--big-radius) var(--big-radius);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/c832668ea2483d22124deffdce1f99bb68cbad49.png);
      }
.Pixso-vector-894_155263 {
        width: 34.13%;
height: 34.13%;
background-image: url(@/assets/images/status57.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 81.25%;
right: -15.38%;
top: 81.25%;
bottom: -15.38%;
      }
.Pixso-symbol-894_155264 {
        width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
overflow: hidden;
position: relative;
      }
.Pixso-vector-894_155265 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/overlay7.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-vector-894_155266 {
        width: 18.75%;
height: 18.75%;
background-image: url(@/assets/images/status52.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 81.25%;
right: 0%;
top: 81.25%;
bottom: 0%;
      }
.Pixso-rectangle-894_155268 {
        width: 100%;
height: 100%;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/c832668ea2483d22124deffdce1f99bb68cbad49.png);
      }
.Pixso-symbol-894_155269 {
        width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
position: relative;
border-radius: var(--big-radius) var(--big-radius) var(--big-radius) var(--big-radius);
background-color: var(--content-content-background);
      }
.Pixso-vector-894_155270 {
        width: 34.13%;
height: 34.13%;
background-image: url(@/assets/images/status42.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 81.25%;
right: -15.38%;
top: 81.25%;
bottom: -15.38%;
      }
.Pixso-instance-894_155271 {
        width: 29.25px;
height: 29.25px;
background-image: url(@/assets/images/persone48.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 11.375px;
top: 11.375px;
      }
.Pixso-symbol-894_155272 {
        width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
position: relative;
border-radius: 24px 24px 24px 24px;
      }
.Pixso-vector-894_155273 {
        width: 18.75%;
height: 18.75%;
background-image: url(@/assets/images/status41.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 81.25%;
right: 0%;
top: 81.25%;
bottom: 0%;
      }
.Pixso-vector-894_155274 {
        width: 50.2069091796875px;
height: 52px;
background-image: url(@/assets/images/Subtract16.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.625px;
top: 0px;
      }
.Pixso-instance-894_155277 {
        width: 29.25px;
height: 29.25px;
background-image: url(@/assets/images/persone47.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 11.375px;
top: 11.375px;
      }
.Pixso-symbol-894_155278 {
        width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
position: relative;
border-radius: var(--big-radius) var(--big-radius) var(--big-radius) var(--big-radius);
background-color: var(--content-content-background);
      }
.Pixso-vector-894_155279 {
        width: 34.13%;
height: 34.13%;
background-image: url(@/assets/images/status40.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 81.25%;
right: -15.38%;
top: 81.25%;
bottom: -15.38%;
      }
.Pixso-paragraph-894_155280 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary-d19f126556c8423d899988749bcb72b3645b5ef5-17178-131);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155281 {
        width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
position: relative;
border-radius: 24px 24px 24px 24px;
      }
.Pixso-vector-894_155282 {
        width: 18.75%;
height: 18.75%;
background-image: url(@/assets/images/status39.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 81.25%;
right: 0%;
top: 81.25%;
bottom: 0%;
      }
.Pixso-vector-894_155283 {
        width: 50.2069091796875px;
height: 52px;
background-image: url(@/assets/images/Subtract15.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.625px;
top: 0px;
      }
.Pixso-paragraph-894_155286 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary-d19f126556c8423d899988749bcb72b3645b5ef5-17178-131);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155287 {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
overflow: hidden;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
      }
.Pixso-rectangle-894_155288 {
        width: 100%;
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
align-self: stretch;
border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/c832668ea2483d22124deffdce1f99bb68cbad49.png);
      }
.Pixso-symbol-894_155289 {
        width: 40px;
height: 40px;
overflow: hidden;
position: relative;
border-radius: 16px 16px 16px 16px;
      }
.Pixso-rectangle-894_155291 {
        width: 100%;
height: 100%;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/c832668ea2483d22124deffdce1f99bb68cbad49.png);
      }
.Pixso-symbol-894_155292 {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
overflow: hidden;
position: relative;
border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
background-color: var(--content-content-background);
      }
.Pixso-instance-894_155293 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/persone46.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-894_155294 {
        width: 40px;
height: 40px;
overflow: hidden;
position: relative;
border-radius: 16px 16px 16px 16px;
      }
.Pixso-vector-894_155295 {
        width: 96.55%;
height: 100%;
background-image: url(@/assets/images/bg12.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.5%;
right: 0.95%;
top: 0%;
bottom: 0%;
      }
.Pixso-instance-894_155296 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/persone45.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-894_155297 {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
position: relative;
border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
background-color: var(--content-content-background);
      }
.Pixso-paragraph-894_155298 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary-d19f126556c8423d899988749bcb72b3645b5ef5-17178-131);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155299 {
        width: 40px;
height: 40px;
position: relative;
border-radius: 16px 16px 16px 16px;
      }
.Pixso-vector-894_155300 {
        width: 96.55%;
height: 100%;
background-image: url(@/assets/images/bg11.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.5%;
right: 0.95%;
top: 0%;
bottom: 0%;
      }
.Pixso-paragraph-894_155301 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary-d19f126556c8423d899988749bcb72b3645b5ef5-17178-131);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155302 {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
position: relative;
border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/c832668ea2483d22124deffdce1f99bb68cbad49.png);
      }
.Pixso-vector-894_155303 {
        width: 30%;
height: 30%;
background-image: url(@/assets/images/status38.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 80%;
right: -10%;
top: 80%;
bottom: -10%;
      }
.Pixso-symbol-894_155304 {
        width: 40px;
height: 40px;
overflow: hidden;
position: relative;
      }
.Pixso-vector-894_155305 {
        width: 20%;
height: 20%;
background-image: url(@/assets/images/status37.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 80%;
right: 0%;
top: 80%;
bottom: 0%;
      }
.Pixso-vector-894_155307 {
        width: 96.55%;
height: 100%;
background-image: url(@/assets/images/image2.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 3.45%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-894_155308 {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
position: relative;
border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
background-color: var(--content-content-background);
      }
.Pixso-vector-894_155309 {
        width: 30%;
height: 30%;
background-image: url(@/assets/images/status36.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 80%;
right: -10%;
top: 80%;
bottom: -10%;
      }
.Pixso-instance-894_155310 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/persone44.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-894_155311 {
        width: 40px;
height: 40px;
overflow: hidden;
position: relative;
      }
.Pixso-vector-894_155312 {
        width: 20%;
height: 20%;
background-image: url(@/assets/images/status35.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 80%;
right: 0%;
top: 80%;
bottom: 0%;
      }
.Pixso-vector-894_155313 {
        width: 38.62109375px;
height: 40px;
background-image: url(@/assets/images/Subtract14.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1px;
top: 0px;
      }
.Pixso-instance-894_155316 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/persone43.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-894_155317 {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
position: relative;
border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
background-color: var(--content-content-background);
      }
.Pixso-vector-894_155318 {
        width: 30%;
height: 30%;
background-image: url(@/assets/images/status34.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 80%;
right: -10%;
top: 80%;
bottom: -10%;
      }
.Pixso-paragraph-894_155319 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary-d19f126556c8423d899988749bcb72b3645b5ef5-17178-131);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155320 {
        width: 40px;
height: 40px;
position: relative;
      }
.Pixso-vector-894_155321 {
        width: 20%;
height: 20%;
background-image: url(@/assets/images/status33.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 80%;
right: 0%;
top: 80%;
bottom: 0%;
      }
.Pixso-vector-894_155322 {
        width: 38.62109375px;
height: 40px;
background-image: url(@/assets/images/Subtract13.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1px;
top: 0px;
      }
.Pixso-paragraph-894_155325 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary-d19f126556c8423d899988749bcb72b3645b5ef5-17178-131);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155326 {
        width: 32px;
height: 32px;
overflow: hidden;
position: relative;
border-radius: var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/c832668ea2483d22124deffdce1f99bb68cbad49.png);
      }
.Pixso-symbol-894_155327 {
        width: 32px;
height: 32px;
overflow: hidden;
position: relative;
border-radius: 12px 12px 12px 12px;
      }
.Pixso-rectangle-894_155329 {
        width: 100%;
height: 100%;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/c832668ea2483d22124deffdce1f99bb68cbad49.png);
      }
.Pixso-symbol-894_155330 {
        width: 32px;
height: 32px;
position: relative;
border-radius: var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27);
background-color: var(--content-content-background);
      }
.Pixso-instance-894_155331 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/persone42.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-894_155332 {
        width: 32px;
height: 32px;
position: relative;
border-radius: 12px 12px 12px 12px;
      }
.Pixso-vector-894_155333 {
        width: 96.55%;
height: 100%;
background-image: url(@/assets/images/bg10.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.13%;
right: 0.32%;
top: 0%;
bottom: 0%;
      }
.Pixso-instance-894_155334 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/persone41.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-894_155335 {
        width: 32px;
height: 32px;
position: relative;
border-radius: var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27);
background-color: var(--content-content-background);
      }
.Pixso-paragraph-894_155336 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary-d19f126556c8423d899988749bcb72b3645b5ef5-17178-131);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + -0.5px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155337 {
        width: 32px;
height: 32px;
position: relative;
border-radius: 12px 12px 12px 12px;
      }
.Pixso-vector-894_155338 {
        width: 96.55%;
height: 100%;
background-image: url(@/assets/images/bg9.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.13%;
right: 0.32%;
top: 0%;
bottom: 0%;
      }
.Pixso-paragraph-894_155339 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary-d19f126556c8423d899988749bcb72b3645b5ef5-17178-131);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + -0.5px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155340 {
        width: 32px;
height: 32px;
position: relative;
border-radius: var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/c832668ea2483d22124deffdce1f99bb68cbad49.png);
      }
.Pixso-vector-894_155341 {
        width: 37.5%;
height: 37.5%;
background-image: url(@/assets/images/status32.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 75%;
right: -12.5%;
top: 75%;
bottom: -12.5%;
      }
.Pixso-symbol-894_155342 {
        width: 32px;
height: 32px;
overflow: hidden;
position: relative;
      }
.Pixso-vector-894_155343 {
        width: 25%;
height: 25%;
background-image: url(@/assets/images/status31.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 75%;
right: 0%;
top: 75%;
bottom: 0%;
      }
.Pixso-vector-894_155345 {
        width: 96.55%;
height: 100%;
background-image: url(@/assets/images/image1.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 3.45%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-894_155346 {
        width: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
height: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
position: relative;
border-radius: var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27);
background-color: var(--content-content-background);
      }
.Pixso-vector-894_155347 {
        width: 37.5%;
height: 37.5%;
background-image: url(@/assets/images/status30.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 75%;
right: -12.5%;
top: 75%;
bottom: -12.5%;
      }
.Pixso-instance-894_155348 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/persone40.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-894_155349 {
        width: 32px;
height: 32px;
position: relative;
      }
.Pixso-vector-894_155350 {
        width: 25%;
height: 25%;
background-image: url(@/assets/images/status29.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 75%;
right: 0%;
top: 75%;
bottom: 0%;
      }
.Pixso-vector-894_155351 {
        width: 30.8966064453125px;
height: 32px;
background-image: url(@/assets/images/Subtract12.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1px;
top: 0px;
      }
.Pixso-instance-894_155354 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/persone39.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-894_155355 {
        width: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
height: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
position: relative;
border-radius: var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27);
background-color: var(--content-content-background);
      }
.Pixso-vector-894_155356 {
        width: 37.5%;
height: 37.5%;
background-image: url(@/assets/images/status53.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 75%;
right: -12.5%;
top: 75%;
bottom: -12.5%;
      }
.Pixso-paragraph-894_155357 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary-d19f126556c8423d899988749bcb72b3645b5ef5-17178-131);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + -0.5px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155358 {
        width: 32px;
height: 32px;
position: relative;
      }
.Pixso-vector-894_155359 {
        width: 25%;
height: 25%;
background-image: url(@/assets/images/status50.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 75%;
right: 0%;
top: 75%;
bottom: 0%;
      }
.Pixso-vector-894_155360 {
        width: 30.8966064453125px;
height: 32px;
background-image: url(@/assets/images/Subtract19.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1px;
top: 0px;
      }
.Pixso-paragraph-894_155363 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary-d19f126556c8423d899988749bcb72b3645b5ef5-17178-131);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + -0.5px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.component-894_155160 {
        width: fit-content;
height: fit-content;
      }

