
.Pixso-symbol-1057_169911 {
        
      }
.Pixso-symbol-1057_169912 {
        width: 120px;
height: 120px;
overflow: hidden;
position: relative;
border-radius: 40px 40px 40px 40px;
      }
.Pixso-rectangle-1057_169913 {
        width: 100%;
height: 100%;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/c832668ea2483d22124deffdce1f99bb68cbad49.png);
      }
.Pixso-symbol-1057_169914 {
        width: 120px;
height: 120px;
overflow: hidden;
position: relative;
border-radius: 40px 40px 40px 40px;
      }
.Pixso-rectangle-1057_169916 {
        width: 100%;
height: 100%;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/c832668ea2483d22124deffdce1f99bb68cbad49.png);
      }
.Pixso-symbol-1057_169917 {
        width: 120px;
height: 120px;
position: relative;
border-radius: 40px 40px 40px 40px;
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-instance-1057_169918 {
        width: 64px;
height: 64px;
background-image: url(@/assets/images/persone22.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 28px;
top: 28px;
      }
.Pixso-symbol-1057_169919 {
        width: 120px;
height: 120px;
position: relative;
border-radius: 40px 40px 40px 40px;
      }
.Pixso-vector-1057_169920 {
        width: 96.55%;
height: 100%;
background-image: url(@/assets/images/bg8.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.67%;
right: 1.78%;
top: 0%;
bottom: 0%;
      }
.Pixso-instance-1057_169921 {
        width: 64px;
height: 64px;
background-image: url(@/assets/images/persone21.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 28px;
top: 28px;
      }
.Pixso-symbol-1057_169922 {
        width: 120px;
height: 120px;
position: relative;
border-radius: 40px 40px 40px 40px;
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-paragraph-1057_169923 {
        font-size: 40px;
font-family: "Kaspersky Sans Text-SemiBold";
font-weight: 600;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0em;
line-height: 52px;
color: var(--content-content-primary);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0.5px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-1057_169924 {
        width: 120px;
height: 120px;
position: relative;
border-radius: 40px 40px 40px 40px;
      }
.Pixso-vector-1057_169925 {
        width: 96.55%;
height: 100%;
background-image: url(@/assets/images/bg7.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.67%;
right: 1.78%;
top: 0%;
bottom: 0%;
      }
.Pixso-paragraph-1057_169926 {
        font-size: 40px;
font-family: "Kaspersky Sans Text-SemiBold";
font-weight: 600;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0em;
line-height: 52px;
color: var(--content-content-primary);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0.5px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-1057_169927 {
        width: 120px;
height: 120px;
overflow: hidden;
position: relative;
      }
.Pixso-vector-1057_169928 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/photo7.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-vector-1057_169929 {
        width: 16.67%;
height: 16.67%;
background-image: url(@/assets/images/status20.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 83.33%;
right: 0%;
top: 83.33%;
bottom: 0%;
      }
.Pixso-symbol-1057_169930 {
        width: 120px;
height: 120px;
overflow: hidden;
position: relative;
      }
.Pixso-frame-1057_169931 {
        width: 115.862068px;
height: 120px;
overflow: hidden;
position: absolute;
left: 2px;
top: 0px;
      }
.Pixso-vector-1057_169933 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/photo8.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: -1.73%;
right: 1.73%;
top: 0%;
bottom: 0%;
      }
.Pixso-vector-1057_169934 {
        width: 16.67%;
height: 16.67%;
background-image: url(@/assets/images/status22.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 83.33%;
right: 0%;
top: 83.33%;
bottom: 0%;
      }
.Pixso-symbol-1057_169935 {
        width: 120px;
height: 120px;
position: relative;
border-radius: 32px 32px 32px 32px;
      }
.Pixso-vector-1057_169936 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/overlay2.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-vector-1057_169937 {
        width: 16.67%;
height: 16.67%;
background-image: url(@/assets/images/status21.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 83.33%;
right: 0%;
top: 83.33%;
bottom: 0%;
      }
.Pixso-instance-1057_169938 {
        width: 64px;
height: 64px;
background-image: url(@/assets/images/persone18.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 28px;
top: 28px;
      }
.Pixso-symbol-1057_169939 {
        width: 120px;
height: 120px;
position: relative;
border-radius: 32px 32px 32px 32px;
      }
.Pixso-vector-1057_169940 {
        width: 16.67%;
height: 16.67%;
background-image: url(@/assets/images/status19.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 83.33%;
right: 0%;
top: 83.33%;
bottom: 0%;
      }
.Pixso-vector-1057_169941 {
        width: 115.862060546875px;
height: 120.00001525878906px;
background-image: url(@/assets/images/Subtract9.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2px;
top: 0px;
      }
.Pixso-instance-1057_169944 {
        width: 64px;
height: 64px;
background-image: url(@/assets/images/persone17.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 28px;
top: 28px;
      }
.Pixso-symbol-1057_169945 {
        width: 120px;
height: 120px;
position: relative;
border-radius: 32px 32px 32px 32px;
      }
.Pixso-vector-1057_169946 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/overlay1.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-vector-1057_169947 {
        width: 16.67%;
height: 16.67%;
background-image: url(@/assets/images/status18.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 83.33%;
right: 0%;
top: 83.33%;
bottom: 0%;
      }
.Pixso-paragraph-1057_169948 {
        font-size: 40px;
font-family: "Kaspersky Sans Text-SemiBold";
font-weight: 600;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0em;
line-height: 52px;
color: var(--content-content-primary);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0.5px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-1057_169949 {
        width: 120px;
height: 120px;
position: relative;
border-radius: 32px 32px 32px 32px;
      }
.Pixso-vector-1057_169950 {
        width: 115.862060546875px;
height: 120.00001525878906px;
background-image: url(@/assets/images/Subtract8.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2px;
top: 0px;
      }
.Pixso-vector-1057_169953 {
        width: 16.67%;
height: 16.67%;
background-image: url(@/assets/images/status17.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 83.33%;
right: 0%;
top: 83.33%;
bottom: 0%;
      }
.Pixso-paragraph-1057_169954 {
        font-size: 40px;
font-family: "Kaspersky Sans Text-SemiBold";
font-weight: 600;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0em;
line-height: 52px;
color: var(--content-content-primary);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0.5px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-1057_169955 {
        width: 88px;
height: 88px;
overflow: hidden;
position: relative;
border-radius: 32px 32px 32px 32px;
      }
.Pixso-rectangle-1057_169956 {
        width: 100%;
height: 100%;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/c832668ea2483d22124deffdce1f99bb68cbad49.png);
      }
.Pixso-symbol-1057_169957 {
        width: 88px;
height: 88px;
overflow: hidden;
position: relative;
border-radius: 32px 32px 32px 32px;
      }
.Pixso-rectangle-1057_169959 {
        width: 100%;
height: 100%;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/c832668ea2483d22124deffdce1f99bb68cbad49.png);
      }
.Pixso-symbol-1057_169960 {
        width: 88px;
height: 88px;
position: relative;
border-radius: 32px 32px 32px 32px;
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-instance-1057_169961 {
        width: 48px;
height: 48px;
background-image: url(@/assets/images/persone12.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 20px;
top: 20px;
      }
.Pixso-symbol-1057_169962 {
        width: 88px;
height: 88px;
position: relative;
border-radius: 32px 32px 32px 32px;
      }
.Pixso-vector-1057_169963 {
        width: 96.55%;
height: 100%;
background-image: url(@/assets/images/bg4.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.27%;
right: 1.18%;
top: 0%;
bottom: 0%;
      }
.Pixso-instance-1057_169964 {
        width: 48px;
height: 48px;
background-image: url(@/assets/images/persone11.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 20px;
top: 20px;
      }
.Pixso-symbol-1057_169965 {
        width: 88px;
height: 88px;
position: relative;
border-radius: 32px 32px 32px 32px;
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-paragraph-1057_169966 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0.5px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-1057_169967 {
        width: 88px;
height: 88px;
position: relative;
border-radius: 32px 32px 32px 32px;
      }
.Pixso-vector-1057_169968 {
        width: 96.55%;
height: 100%;
background-image: url(@/assets/images/bg3.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.27%;
right: 1.18%;
top: 0%;
bottom: 0%;
      }
.Pixso-paragraph-1057_169969 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0.5px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-1057_169970 {
        width: 88px;
height: 88px;
overflow: hidden;
position: relative;
      }
.Pixso-vector-1057_169971 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/photo6.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-vector-1057_169972 {
        width: 18.18%;
height: 18.18%;
background-image: url(@/assets/images/status10.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 81.82%;
right: 0%;
top: 81.82%;
bottom: 0%;
      }
.Pixso-symbol-1057_169973 {
        width: 88px;
height: 88px;
overflow: hidden;
position: relative;
      }
.Pixso-frame-1057_169974 {
        width: 84.965515px;
height: 88px;
overflow: hidden;
position: absolute;
left: 2px;
top: 0px;
      }
.Pixso-vector-1057_169976 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/photo5.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: -2.35%;
right: 2.35%;
top: 0%;
bottom: 0%;
      }
.Pixso-vector-1057_169977 {
        width: 18.18%;
height: 18.18%;
background-image: url(@/assets/images/status9.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 81.82%;
right: 0%;
top: 81.82%;
bottom: 0%;
      }
.Pixso-symbol-1057_169978 {
        width: 88px;
height: 88px;
position: relative;
border-radius: 32px 32px 32px 32px;
      }
.Pixso-vector-1057_169979 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/overlay0.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-vector-1057_169980 {
        width: 18.18%;
height: 18.18%;
background-image: url(@/assets/images/status8.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 81.82%;
right: 0%;
top: 81.82%;
bottom: 0%;
      }
.Pixso-instance-1057_169981 {
        width: 48px;
height: 48px;
background-image: url(@/assets/images/persone10.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 20px;
top: 20px;
      }
.Pixso-symbol-1057_169982 {
        width: 88px;
height: 88px;
position: relative;
border-radius: 32px 32px 32px 32px;
      }
.Pixso-vector-1057_169983 {
        width: 84.96551513671875px;
height: 88px;
background-image: url(@/assets/images/Subtract5.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2px;
top: 0px;
      }
.Pixso-vector-1057_169986 {
        width: 18.18%;
height: 18.18%;
background-image: url(@/assets/images/status7.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 81.82%;
right: 0%;
top: 81.82%;
bottom: 0%;
      }
.Pixso-instance-1057_169987 {
        width: 48px;
height: 48px;
background-image: url(@/assets/images/persone9.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 20px;
top: 20px;
      }
.Pixso-symbol-1057_169988 {
        width: 88px;
height: 88px;
position: relative;
border-radius: 32px 32px 32px 32px;
      }
.Pixso-vector-1057_169989 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/overlay.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-vector-1057_169990 {
        width: 18.18%;
height: 18.18%;
background-image: url(@/assets/images/status6.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 81.82%;
right: 0%;
top: 81.82%;
bottom: 0%;
      }
.Pixso-paragraph-1057_169991 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0.5px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-1057_169992 {
        width: 88px;
height: 88px;
position: relative;
border-radius: 32px 32px 32px 32px;
      }
.Pixso-vector-1057_169993 {
        width: 84.96551513671875px;
height: 88px;
background-image: url(@/assets/images/Subtract4.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2px;
top: 0px;
      }
.Pixso-vector-1057_169996 {
        width: 18.18%;
height: 18.18%;
background-image: url(@/assets/images/status5.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 81.82%;
right: 0%;
top: 81.82%;
bottom: 0%;
      }
.Pixso-paragraph-1057_169997 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0.5px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-1057_169998 {
        width: var(--big-size);
height: var(--big-size);
overflow: hidden;
position: relative;
border-radius: var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19);
      }
.Pixso-rectangle-1057_169999 {
        width: 100%;
height: 100%;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
border-radius: var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/c832668ea2483d22124deffdce1f99bb68cbad49.png);
      }
.Pixso-symbol-1057_170000 {
        width: var(--big-size);
height: var(--big-size);
overflow: hidden;
position: relative;
border-radius: 24px 24px 24px 24px;
      }
.Pixso-rectangle-1057_170002 {
        width: 100%;
height: 100%;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/c832668ea2483d22124deffdce1f99bb68cbad49.png);
      }
.Pixso-symbol-1057_170003 {
        width: var(--big-size);
height: var(--big-size);
position: relative;
border-radius: var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-instance-1057_170004 {
        width: 29.25px;
height: 29.25px;
background-image: url(@/assets/images/persone4.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 11.375px;
top: 11.375px;
      }
.Pixso-symbol-1057_170005 {
        width: var(--big-size);
height: var(--big-size);
position: relative;
border-radius: 24px 24px 24px 24px;
      }
.Pixso-vector-1057_170006 {
        width: 96.55%;
height: 100%;
background-image: url(@/assets/images/bg0.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.13%;
right: 0.32%;
top: 0%;
bottom: 0%;
      }
.Pixso-instance-1057_170007 {
        width: 29.25px;
height: 29.25px;
background-image: url(@/assets/images/persone3.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 11.375px;
top: 11.375px;
      }
.Pixso-symbol-1057_170008 {
        width: var(--big-size);
height: var(--big-size);
position: relative;
border-radius: var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-paragraph-1057_170009 {
        font-size: 24px;
font-family: "Kaspersky Sans Text-SemiBold";
font-weight: 600;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0em;
line-height: 32px;
color: var(--content-content-primary);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-1057_170010 {
        width: var(--big-size);
height: var(--big-size);
position: relative;
border-radius: 24px 24px 24px 24px;
      }
.Pixso-vector-1057_170011 {
        width: 96.55%;
height: 100%;
background-image: url(@/assets/images/bg.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.13%;
right: 0.32%;
top: 0%;
bottom: 0%;
      }
.Pixso-paragraph-1057_170012 {
        font-size: 24px;
font-family: "Kaspersky Sans Text-SemiBold";
font-weight: 600;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0em;
line-height: 32px;
color: var(--content-content-primary);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-1057_170013 {
        width: var(--big-size);
height: var(--big-size);
position: relative;
border-radius: var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/c832668ea2483d22124deffdce1f99bb68cbad49.png);
      }
.Pixso-vector-1057_170014 {
        width: 34.13%;
height: 34.13%;
background-image: url(@/assets/images/status28.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 81.25%;
right: -15.38%;
top: 81.25%;
bottom: -15.38%;
      }
.Pixso-symbol-1057_170015 {
        width: var(--big-size);
height: var(--big-size);
overflow: hidden;
position: relative;
      }
.Pixso-vector-1057_170016 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/overlay3.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-vector-1057_170017 {
        width: 18.75%;
height: 18.75%;
background-image: url(@/assets/images/status27.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 81.25%;
right: 0%;
top: 81.25%;
bottom: 0%;
      }
.Pixso-rectangle-1057_170019 {
        width: 100%;
height: 100%;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/c832668ea2483d22124deffdce1f99bb68cbad49.png);
      }
.Pixso-symbol-1057_170020 {
        width: var(--big-size);
height: var(--big-size);
position: relative;
border-radius: var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-vector-1057_170021 {
        width: 34.13%;
height: 34.13%;
background-image: url(@/assets/images/status24.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 81.25%;
right: -15.38%;
top: 81.25%;
bottom: -15.38%;
      }
.Pixso-instance-1057_170022 {
        width: 29.25px;
height: 29.25px;
background-image: url(@/assets/images/persone20.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 11.375px;
top: 11.375px;
      }
.Pixso-symbol-1057_170023 {
        width: var(--big-size);
height: var(--big-size);
position: relative;
border-radius: 24px 24px 24px 24px;
      }
.Pixso-vector-1057_170024 {
        width: 18.75%;
height: 18.75%;
background-image: url(@/assets/images/status23.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 81.25%;
right: 0%;
top: 81.25%;
bottom: 0%;
      }
.Pixso-vector-1057_170025 {
        width: 50.20689392089844px;
height: 52px;
background-image: url(@/assets/images/Subtract10.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.625px;
top: 0px;
      }
.Pixso-instance-1057_170028 {
        width: 29.25px;
height: 29.25px;
background-image: url(@/assets/images/persone19.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 11.375px;
top: 11.375px;
      }
.Pixso-symbol-1057_170029 {
        width: var(--big-size);
height: var(--big-size);
position: relative;
border-radius: var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-vector-1057_170030 {
        width: 34.13%;
height: 34.13%;
background-image: url(@/assets/images/status26.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 81.25%;
right: -15.38%;
top: 81.25%;
bottom: -15.38%;
      }
.Pixso-paragraph-1057_170031 {
        font-size: 24px;
font-family: "Kaspersky Sans Text-SemiBold";
font-weight: 600;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0em;
line-height: 32px;
color: var(--content-content-primary);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-1057_170032 {
        width: var(--big-size);
height: var(--big-size);
position: relative;
border-radius: 24px 24px 24px 24px;
      }
.Pixso-vector-1057_170033 {
        width: 18.75%;
height: 18.75%;
background-image: url(@/assets/images/status25.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 81.25%;
right: 0%;
top: 81.25%;
bottom: 0%;
      }
.Pixso-vector-1057_170034 {
        width: 50.20689392089844px;
height: 52px;
background-image: url(@/assets/images/Subtract11.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.625px;
top: 0px;
      }
.Pixso-paragraph-1057_170037 {
        font-size: 24px;
font-family: "Kaspersky Sans Text-SemiBold";
font-weight: 600;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0em;
line-height: 32px;
color: var(--content-content-primary);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-1057_170038 {
        width: var(--medium-size);
height: var(--medium-size);
overflow: hidden;
position: relative;
display: flex;
flex-direction: row;
gap: 10px;
align-items: flex-start;
border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
      }
.Pixso-rectangle-1057_170039 {
        width: 100%;
height: var(--medium-size);
position: relative;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0;
align-self: stretch;
border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/c832668ea2483d22124deffdce1f99bb68cbad49.png);
      }
.Pixso-symbol-1057_170040 {
        width: 40px;
height: 40px;
overflow: hidden;
position: relative;
border-radius: 16px 16px 16px 16px;
      }
.Pixso-rectangle-1057_170042 {
        width: 100%;
height: 100%;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/c832668ea2483d22124deffdce1f99bb68cbad49.png);
      }
.Pixso-symbol-1057_170043 {
        width: var(--medium-size);
height: var(--medium-size);
overflow: hidden;
position: relative;
border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-instance-1057_170044 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/persone16.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-1057_170045 {
        width: 40px;
height: 40px;
overflow: hidden;
position: relative;
border-radius: 16px 16px 16px 16px;
      }
.Pixso-vector-1057_170046 {
        width: 96.55%;
height: 100%;
background-image: url(@/assets/images/bg6.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.5%;
right: 0.95%;
top: 0%;
bottom: 0%;
      }
.Pixso-instance-1057_170047 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/persone15.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-1057_170048 {
        width: var(--medium-size);
height: var(--medium-size);
position: relative;
border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-paragraph-1057_170049 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-1057_170050 {
        width: 40px;
height: 40px;
position: relative;
border-radius: 16px 16px 16px 16px;
      }
.Pixso-vector-1057_170051 {
        width: 96.55%;
height: 100%;
background-image: url(@/assets/images/bg5.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2.5%;
right: 0.95%;
top: 0%;
bottom: 0%;
      }
.Pixso-paragraph-1057_170052 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-1057_170053 {
        width: var(--medium-size);
height: var(--medium-size);
position: relative;
border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/c832668ea2483d22124deffdce1f99bb68cbad49.png);
      }
.Pixso-vector-1057_170054 {
        width: 30%;
height: 30%;
background-image: url(@/assets/images/status16.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 80%;
right: -10%;
top: 80%;
bottom: -10%;
      }
.Pixso-symbol-1057_170055 {
        width: 40px;
height: 40px;
overflow: hidden;
position: relative;
      }
.Pixso-vector-1057_170056 {
        width: 20%;
height: 20%;
background-image: url(@/assets/images/status15.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 80%;
right: 0%;
top: 80%;
bottom: 0%;
      }
.Pixso-vector-1057_170058 {
        width: 96.55%;
height: 100%;
background-image: url(@/assets/images/image0.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 3.45%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-1057_170059 {
        width: var(--medium-size);
height: var(--medium-size);
position: relative;
border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-vector-1057_170060 {
        width: 30%;
height: 30%;
background-image: url(@/assets/images/status14.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 80%;
right: -10%;
top: 80%;
bottom: -10%;
      }
.Pixso-instance-1057_170061 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/persone14.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-1057_170062 {
        width: 40px;
height: 40px;
overflow: hidden;
position: relative;
      }
.Pixso-vector-1057_170063 {
        width: 20%;
height: 20%;
background-image: url(@/assets/images/status13.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 80%;
right: 0%;
top: 80%;
bottom: 0%;
      }
.Pixso-vector-1057_170064 {
        width: 38.620697021484375px;
height: 40px;
background-image: url(@/assets/images/Subtract7.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1px;
top: 0px;
      }
.Pixso-instance-1057_170067 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/persone13.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-1057_170068 {
        width: var(--medium-size);
height: var(--medium-size);
position: relative;
border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-vector-1057_170069 {
        width: 30%;
height: 30%;
background-image: url(@/assets/images/status12.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 80%;
right: -10%;
top: 80%;
bottom: -10%;
      }
.Pixso-paragraph-1057_170070 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-1057_170071 {
        width: 40px;
height: 40px;
position: relative;
      }
.Pixso-vector-1057_170072 {
        width: 20%;
height: 20%;
background-image: url(@/assets/images/status11.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 80%;
right: 0%;
top: 80%;
bottom: 0%;
      }
.Pixso-vector-1057_170073 {
        width: 38.620697021484375px;
height: 40px;
background-image: url(@/assets/images/Subtract6.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1px;
top: 0px;
      }
.Pixso-paragraph-1057_170076 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-1057_170077 {
        width: 32px;
height: 32px;
overflow: hidden;
position: relative;
border-radius: var(--small-radius) var(--small-radius) var(--small-radius) var(--small-radius);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/c832668ea2483d22124deffdce1f99bb68cbad49.png);
      }
.Pixso-symbol-1057_170078 {
        width: 32px;
height: 32px;
overflow: hidden;
position: relative;
border-radius: 12px 12px 12px 12px;
      }
.Pixso-rectangle-1057_170080 {
        width: 100%;
height: 100%;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/c832668ea2483d22124deffdce1f99bb68cbad49.png);
      }
.Pixso-symbol-1057_170081 {
        width: 32px;
height: 32px;
position: relative;
border-radius: var(--small-radius) var(--small-radius) var(--small-radius) var(--small-radius);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-instance-1057_170082 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/persone8.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-1057_170083 {
        width: 32px;
height: 32px;
position: relative;
border-radius: 12px 12px 12px 12px;
      }
.Pixso-vector-1057_170084 {
        width: 96.55%;
height: 100%;
background-image: url(@/assets/images/bg2.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.13%;
right: 0.32%;
top: 0%;
bottom: 0%;
      }
.Pixso-instance-1057_170085 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/persone7.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-1057_170086 {
        width: 32px;
height: 32px;
position: relative;
border-radius: var(--small-radius) var(--small-radius) var(--small-radius) var(--small-radius);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-paragraph-1057_170087 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + -0.5px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-1057_170088 {
        width: 32px;
height: 32px;
position: relative;
border-radius: 12px 12px 12px 12px;
      }
.Pixso-vector-1057_170089 {
        width: 96.55%;
height: 100%;
background-image: url(@/assets/images/bg1.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 3.13%;
right: 0.32%;
top: 0%;
bottom: 0%;
      }
.Pixso-paragraph-1057_170090 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + -0.5px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-1057_170091 {
        width: 32px;
height: 32px;
position: relative;
border-radius: var(--small-radius) var(--small-radius) var(--small-radius) var(--small-radius);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-image: url(@/assets/images/c832668ea2483d22124deffdce1f99bb68cbad49.png);
      }
.Pixso-vector-1057_170092 {
        width: 37.5%;
height: 37.5%;
background-image: url(@/assets/images/status4.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 75%;
right: -12.5%;
top: 75%;
bottom: -12.5%;
      }
.Pixso-symbol-1057_170093 {
        width: 32px;
height: 32px;
overflow: hidden;
position: relative;
      }
.Pixso-vector-1057_170094 {
        width: 25%;
height: 25%;
background-image: url(@/assets/images/status3.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 75%;
right: 0%;
top: 75%;
bottom: 0%;
      }
.Pixso-vector-1057_170096 {
        width: 96.55%;
height: 100%;
background-image: url(@/assets/images/image.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 3.45%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-1057_170097 {
        width: var(--small-size);
height: var(--small-size);
position: relative;
border-radius: var(--small-radius) var(--small-radius) var(--small-radius) var(--small-radius);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-vector-1057_170098 {
        width: 37.5%;
height: 37.5%;
background-image: url(@/assets/images/status2.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 75%;
right: -12.5%;
top: 75%;
bottom: -12.5%;
      }
.Pixso-instance-1057_170099 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/persone6.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-1057_170100 {
        width: 32px;
height: 32px;
position: relative;
      }
.Pixso-vector-1057_170101 {
        width: 25%;
height: 25%;
background-image: url(@/assets/images/status1.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 75%;
right: 0%;
top: 75%;
bottom: 0%;
      }
.Pixso-vector-1057_170102 {
        width: 30.89654541015625px;
height: 32px;
background-image: url(@/assets/images/Subtract3.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1px;
top: 0px;
      }
.Pixso-instance-1057_170105 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/persone5.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-1057_170106 {
        width: var(--small-size);
height: var(--small-size);
position: relative;
border-radius: var(--small-radius) var(--small-radius) var(--small-radius) var(--small-radius);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-vector-1057_170107 {
        width: 37.5%;
height: 37.5%;
background-image: url(@/assets/images/status0.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 75%;
right: -12.5%;
top: 75%;
bottom: -12.5%;
      }
.Pixso-paragraph-1057_170108 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + -0.5px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-1057_170109 {
        width: 32px;
height: 32px;
position: relative;
      }
.Pixso-vector-1057_170110 {
        width: 25%;
height: 25%;
background-image: url(@/assets/images/status.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 75%;
right: 0%;
top: 75%;
bottom: 0%;
      }
.Pixso-vector-1057_170111 {
        width: 30.89654541015625px;
height: 32px;
background-image: url(@/assets/images/Subtract2.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1px;
top: 0px;
      }
.Pixso-paragraph-1057_170114 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary);
width: auto;
height: auto;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + -0.5px)) translateY(calc(-50% + 0px));
white-space: pre;
flex-grow: 0;
      }
.component-1057_169911 {
        width: fit-content;
height: fit-content;
      }

