
.Pixso-symbol-1057_169890 {
        width: 40px;
height: 40px;
position: relative;
border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_169891 {
        width: 24px;
height: 24px;
position: absolute;
left: 8px;
top: 8px;
      }
.component-1057_169890 {
        width: fit-content;
height: fit-content;
      }


.Pixso-instance-1057_169891 .Pixso-symbol-188_119799 .Pixso-symbol-504_2219 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/is_outlinefalse18.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
      }
.Pixso-instance-1057_169891 {
        background-image: url(@/assets/images/is_outlinefalse18.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_169891 .Pixso-symbol-188_119799  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
