
.Pixso-symbol-894_155459 {
        width: 40px;
height: 40px;
overflow: hidden;
position: relative;
border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155460 {
        width: 24px;
height: 24px;
position: absolute;
left: 8px;
top: 8px;
      }
.component-894_155459 {
        width: fit-content;
height: fit-content;
      }


.Pixso-instance-894_155460 .Pixso-symbol-504_2219 .Pixso-symbol-188_119799 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/is_outlinefalse14.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
      }
.Pixso-instance-894_155460 {
        background-image: url(@/assets/images/is_outlinefalse14.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-894_155460 .Pixso-symbol-504_2219  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
