
.Pixso-symbol-767_155116 {
        
      }
.Pixso-symbol-767_155117 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: center;
align-items: center;
padding: 0px 16px 0px 16px;
border-radius: 16px 16px 16px 16px;
background-color: var(--accent-accent-primary);
      }
.stroke-wrapper-767_155117 {
        position: relative;
width: 60px;
height: 60px;
display: flex;
      }
.stroke-767_155117 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--content-content-border);
      }
.Pixso-instance-767_155118 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/persone86.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-767_155119 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: center;
align-items: center;
padding: 0px 16px 0px 16px;
border-radius: 16px 16px 16px 16px;
background-color: var(--accent-accent-primary);
      }
.stroke-wrapper-767_155119 {
        position: relative;
width: 52px;
height: 52px;
display: flex;
      }
.stroke-767_155119 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--content-content-border);
      }
.Pixso-instance-767_155120 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/persone85.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-767_155121 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 12px 12px 12px 12px;
background-color: var(--accent-accent-primary);
      }
.stroke-wrapper-767_155121 {
        position: relative;
width: 44px;
height: 44px;
display: flex;
      }
.stroke-767_155121 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--content-content-border);
      }
.Pixso-instance-767_155122 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/persone84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-767_155123 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 8px 8px 8px 8px;
background-color: var(--accent-accent-primary);
      }
.stroke-wrapper-767_155123 {
        position: relative;
width: 32px;
height: 32px;
display: flex;
      }
.stroke-767_155123 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--content-content-border);
      }
.Pixso-instance-767_155124 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/persone83.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-767_155125 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: center;
align-items: center;
padding: 0px 16px 0px 16px;
border-radius: 16px 16px 16px 16px;
background-color: var(--system-system-error-primary);
      }
.stroke-wrapper-767_155125 {
        position: relative;
width: 60px;
height: 60px;
display: flex;
      }
.stroke-767_155125 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--content-content-border);
      }
.Pixso-instance-767_155126 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/persone82.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-767_155127 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: center;
align-items: center;
padding: 0px 16px 0px 16px;
border-radius: 16px 16px 16px 16px;
background-color: var(--system-system-error-primary);
      }
.stroke-wrapper-767_155127 {
        position: relative;
width: 52px;
height: 52px;
display: flex;
      }
.stroke-767_155127 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--content-content-border);
      }
.Pixso-instance-767_155128 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/persone81.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-767_155129 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 12px 12px 12px 12px;
background-color: var(--system-system-error-primary);
      }
.stroke-wrapper-767_155129 {
        position: relative;
width: 44px;
height: 44px;
display: flex;
      }
.stroke-767_155129 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--content-content-border);
      }
.Pixso-instance-767_155130 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/persone80.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-767_155131 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 8px 8px 8px 8px;
background-color: var(--system-system-error-primary);
      }
.stroke-wrapper-767_155131 {
        position: relative;
width: 32px;
height: 32px;
display: flex;
      }
.stroke-767_155131 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--content-content-border);
      }
.Pixso-instance-767_155132 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/persone79.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-767_155133 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: center;
align-items: center;
padding: 0px 16px 0px 16px;
border-radius: 16px 16px 16px 16px;
background-color: var(--system-system-success-primary);
      }
.stroke-wrapper-767_155133 {
        position: relative;
width: 60px;
height: 60px;
display: flex;
      }
.stroke-767_155133 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--content-content-border);
      }
.Pixso-instance-767_155134 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/persone78.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-767_155135 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: center;
align-items: center;
padding: 0px 16px 0px 16px;
border-radius: 16px 16px 16px 16px;
background-color: var(--system-system-success-primary);
      }
.stroke-wrapper-767_155135 {
        position: relative;
width: 52px;
height: 52px;
display: flex;
      }
.stroke-767_155135 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--content-content-border);
      }
.Pixso-instance-767_155136 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/persone77.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-767_155137 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 12px 12px 12px 12px;
background-color: var(--system-system-success-primary);
      }
.stroke-wrapper-767_155137 {
        position: relative;
width: 44px;
height: 44px;
display: flex;
      }
.stroke-767_155137 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--content-content-border);
      }
.Pixso-instance-767_155138 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/persone76.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-767_155139 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 8px 8px 8px 8px;
background-color: var(--system-system-success-primary);
      }
.stroke-wrapper-767_155139 {
        position: relative;
width: 32px;
height: 32px;
display: flex;
      }
.stroke-767_155139 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 1px 1px 1px 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--content-content-border);
      }
.Pixso-instance-767_155140 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/persone75.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-767_155141 {
        width: 60px;
height: 60px;
overflow: hidden;
position: relative;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: center;
align-items: center;
padding: 0px 16px 0px 16px;
border-radius: 16px 16px 16px 16px;
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-instance-767_155142 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/persone74.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-767_155143 {
        width: 52px;
height: 52px;
overflow: hidden;
position: relative;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: center;
align-items: center;
padding: 0px 16px 0px 16px;
border-radius: 16px 16px 16px 16px;
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-instance-767_155144 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/persone73.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-767_155145 {
        width: 44px;
height: 44px;
overflow: hidden;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 12px 12px 12px 12px;
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-instance-767_155146 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/persone72.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-767_155147 {
        width: 32px;
height: 32px;
overflow: hidden;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 8px 8px 8px 8px;
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-instance-767_155148 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/persone71.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-767_155149 {
        width: 60px;
height: 60px;
overflow: hidden;
position: relative;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: center;
align-items: center;
padding: 0px 16px 0px 16px;
border-radius: 16px 16px 16px 16px;
      }
.Pixso-instance-767_155150 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/persone70.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-767_155151 {
        width: 52px;
height: 52px;
overflow: hidden;
position: relative;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: center;
align-items: center;
padding: 0px 16px 0px 16px;
border-radius: 16px 16px 16px 16px;
      }
.Pixso-instance-767_155152 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/persone69.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-767_155153 {
        width: 44px;
height: 44px;
overflow: hidden;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-767_155154 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/persone68.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-767_155155 {
        width: 32px;
height: 32px;
overflow: hidden;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 8px 8px 8px 8px;
      }
.Pixso-instance-767_155156 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/persone67.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-767_155157 {
        width: 60px;
height: 60px;
overflow: hidden;
position: relative;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: center;
align-items: center;
padding: 0px 16px 0px 16px;
border-radius: 16px 16px 16px 16px;
      }
.Pixso-instance-767_155158 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/persone66.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-767_155159 {
        width: 52px;
height: 52px;
overflow: hidden;
position: relative;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: center;
align-items: center;
padding: 0px 16px 0px 16px;
border-radius: 16px 16px 16px 16px;
      }
.Pixso-instance-767_155160 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/persone65.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-767_155161 {
        width: 44px;
height: 44px;
overflow: hidden;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-767_155162 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/persone64.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-767_155163 {
        width: 32px;
height: 32px;
overflow: hidden;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 8px 8px 8px 8px;
      }
.Pixso-instance-767_155164 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/persone63.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-767_155165 {
        width: 60px;
height: 60px;
overflow: hidden;
position: relative;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: center;
align-items: center;
padding: 0px 16px 0px 16px;
border-radius: 16px 16px 16px 16px;
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-instance-767_155166 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/persone62.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-767_155167 {
        width: 52px;
height: 52px;
overflow: hidden;
position: relative;
display: flex;
flex-direction: row;
gap: 12px;
justify-content: center;
align-items: center;
padding: 0px 16px 0px 16px;
border-radius: 16px 16px 16px 16px;
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-instance-767_155168 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/persone61.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-767_155169 {
        width: 44px;
height: 44px;
overflow: hidden;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 12px;
border-radius: 12px 12px 12px 12px;
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-instance-767_155170 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/persone60.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-767_155171 {
        width: 32px;
height: 32px;
overflow: hidden;
position: relative;
display: flex;
flex-direction: row;
gap: 4px;
justify-content: center;
align-items: center;
padding: 0px 8px 0px 8px;
border-radius: 8px 8px 8px 8px;
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-instance-767_155172 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/persone59.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
flex-shrink: 0;
      }
.component-767_155116 {
        width: fit-content;
height: fit-content;
      }

