
.Pixso-symbol-504_2228 {
        
      }
.Pixso-symbol-504_2229 {
        width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
overflow: hidden;
position: relative;
border-radius: var(--big-radius) var(--big-radius) var(--big-radius) var(--big-radius);
background-color: var(--accent-accent-primary-1d3dcea5276688a36ab7e7ecf88088bfd47731e6-17178-121);
      }
.Pixso-instance-504_2230 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings64.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-504_2231 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
border-radius: var(--big-radius) var(--big-radius) var(--big-radius) var(--big-radius);
background-color: var(--accent-accent-primary-1d3dcea5276688a36ab7e7ecf88088bfd47731e6-17178-121);
      }
.stroke-wrapper-504_2231 {
        position: relative;
width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
      }
.stroke-504_2231 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
border-color: var(--content-content-primary-d19f126556c8423d899988749bcb72b3645b5ef5-17178-131);
      }
.Pixso-instance-504_2232 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings60.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-504_2233 {
        width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
overflow: hidden;
position: relative;
border-radius: var(--big-radius) var(--big-radius) var(--big-radius) var(--big-radius);
background-color: var(--accent-accent-sub-primary);
      }
.Pixso-instance-504_2234 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings51.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-504_2235 {
        width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
overflow: hidden;
position: relative;
border-radius: var(--big-radius) var(--big-radius) var(--big-radius) var(--big-radius);
background-color: var(--accent-accent-secondary);
      }
.Pixso-instance-504_2236 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings45.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-504_2237 {
        width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
overflow: hidden;
position: relative;
border-radius: var(--big-radius) var(--big-radius) var(--big-radius) var(--big-radius);
background-color: var(--accent-accent-background);
      }
.Pixso-instance-504_2238 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings50.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-504_2239 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
border-radius: var(--big-radius) var(--big-radius) var(--big-radius) var(--big-radius);
background-color: var(--accent-accent-background);
      }
.stroke-wrapper-504_2239 {
        position: relative;
width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
      }
.stroke-504_2239 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
border-color: var(--accent-accent-primary-1d3dcea5276688a36ab7e7ecf88088bfd47731e6-17178-121);
      }
.Pixso-instance-504_2240 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings52.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-504_2241 {
        width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
overflow: hidden;
position: relative;
border-radius: var(--big-radius) var(--big-radius) var(--big-radius) var(--big-radius);
background-color: var(--accent-accent-border);
      }
.Pixso-instance-504_2242 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings61.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-504_2243 {
        width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
overflow: hidden;
position: relative;
border-radius: var(--big-radius) var(--big-radius) var(--big-radius) var(--big-radius);
background-color: var(--accent-accent-disabled-c8a6f6424c71c065153c639812fd58511a8e2f28-17178-119);
      }
.Pixso-instance-504_2244 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings59.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-504_2245 {
        width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
overflow: hidden;
position: relative;
border-radius: var(--big-radius) var(--big-radius) var(--big-radius) var(--big-radius);
background-color: var(--content-content-background);
      }
.Pixso-instance-504_2246 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings58.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-504_2247 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
border-radius: var(--big-radius) var(--big-radius) var(--big-radius) var(--big-radius);
background-color: var(--content-content-background);
      }
.stroke-wrapper-504_2247 {
        position: relative;
width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
      }
.stroke-504_2247 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
border-color: var(--accent-accent-primary-1d3dcea5276688a36ab7e7ecf88088bfd47731e6-17178-121);
      }
.Pixso-instance-504_2248 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings55.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-504_2249 {
        width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
overflow: hidden;
position: relative;
border-radius: var(--big-radius) var(--big-radius) var(--big-radius) var(--big-radius);
background-color: var(--content-content-border-3a9b5f9c6b64eae1133d8e92e07a7d8fdc679df2-17178-122);
      }
.Pixso-instance-504_2250 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings49.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-504_2251 {
        width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
overflow: hidden;
position: relative;
border-radius: var(--big-radius) var(--big-radius) var(--big-radius) var(--big-radius);
background-color: var(--content-content-disabled);
      }
.Pixso-instance-504_2252 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings67.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-504_2253 {
        width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
overflow: hidden;
position: relative;
border-radius: var(--big-radius) var(--big-radius) var(--big-radius) var(--big-radius);
      }
.Pixso-instance-504_2254 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings68.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-504_2255 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
border-radius: var(--big-radius) var(--big-radius) var(--big-radius) var(--big-radius);
      }
.stroke-wrapper-504_2255 {
        position: relative;
width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
      }
.stroke-504_2255 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
border-color: var(--accent-accent-primary-1d3dcea5276688a36ab7e7ecf88088bfd47731e6-17178-121);
      }
.Pixso-instance-504_2256 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings62.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-504_2257 {
        width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
overflow: hidden;
position: relative;
border-radius: var(--big-radius) var(--big-radius) var(--big-radius) var(--big-radius);
background-color: var(--content-content-background);
      }
.Pixso-instance-504_2258 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings54.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-504_2259 {
        width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
overflow: hidden;
position: relative;
border-radius: var(--big-radius) var(--big-radius) var(--big-radius) var(--big-radius);
background-color: var(--content-content-border-3a9b5f9c6b64eae1133d8e92e07a7d8fdc679df2-17178-122);
      }
.Pixso-instance-504_2260 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings44.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-504_2261 {
        width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
overflow: hidden;
position: relative;
border-radius: var(--big-radius) var(--big-radius) var(--big-radius) var(--big-radius);
background-color: var(--content-content-background);
      }
.Pixso-instance-504_2262 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings43.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-504_2263 {
        width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
overflow: hidden;
position: relative;
border-radius: var(--big-radius) var(--big-radius) var(--big-radius) var(--big-radius);
background-color: var(--content-content-background);
      }
.Pixso-instance-504_2264 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings42.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-504_2265 {
        width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
overflow: hidden;
position: relative;
border-radius: var(--big-radius) var(--big-radius) var(--big-radius) var(--big-radius);
background-color: var(--content-content-background);
      }
.Pixso-instance-504_2266 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings41.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-504_2267 {
        width: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
height: var(--big-size-79c6c38d6f5823b2202f0ea416bb6237c8a3e9b0-14116-18);
overflow: hidden;
position: relative;
border-radius: var(--big-radius) var(--big-radius) var(--big-radius) var(--big-radius);
background-color: var(--content-content-background);
      }
.Pixso-instance-504_2268 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings40.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-504_2269 {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
position: relative;
border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
background-color: var(--accent-accent-background);
      }
.Pixso-instance-504_2270 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings39.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-504_2271 {
        width: 100%;
height: 100%;
position: relative;
border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
background-color: var(--accent-accent-background);
      }
.stroke-wrapper-504_2271 {
        position: relative;
width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
      }
.stroke-504_2271 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
border-color: var(--accent-accent-primary-1d3dcea5276688a36ab7e7ecf88088bfd47731e6-17178-121);
      }
.Pixso-instance-504_2272 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings38.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-504_2273 {
        width: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
height: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
position: relative;
border-radius: var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27);
background-color: var(--accent-accent-background);
      }
.Pixso-instance-504_2274 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings37.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-504_2275 {
        width: 100%;
height: 100%;
position: relative;
border-radius: var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27);
background-color: var(--accent-accent-background);
      }
.stroke-wrapper-504_2275 {
        position: relative;
width: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
height: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
      }
.stroke-504_2275 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--accent-accent-primary-1d3dcea5276688a36ab7e7ecf88088bfd47731e6-17178-121);
      }
.Pixso-instance-504_2276 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings36.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-504_2277 {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
overflow: hidden;
position: relative;
border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
background-color: var(--accent-accent-border);
      }
.Pixso-instance-504_2278 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings35.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-504_2279 {
        width: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
height: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
overflow: hidden;
position: relative;
border-radius: var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27);
background-color: var(--accent-accent-border);
      }
.Pixso-instance-504_2280 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings65.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-504_2281 {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
overflow: hidden;
position: relative;
border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
background-color: var(--accent-accent-disabled-c8a6f6424c71c065153c639812fd58511a8e2f28-17178-119);
      }
.Pixso-instance-504_2282 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings66.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-504_2283 {
        width: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
height: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
overflow: hidden;
position: relative;
border-radius: var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27);
background-color: var(--accent-accent-disabled-c8a6f6424c71c065153c639812fd58511a8e2f28-17178-119);
      }
.Pixso-instance-504_2284 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings48.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-504_2285 {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
position: relative;
border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
background-color: var(--accent-accent-primary-1d3dcea5276688a36ab7e7ecf88088bfd47731e6-17178-121);
      }
.Pixso-instance-504_2286 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings47.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-504_2287 {
        width: 100%;
height: 100%;
position: relative;
border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
background-color: var(--accent-accent-primary-1d3dcea5276688a36ab7e7ecf88088bfd47731e6-17178-121);
      }
.stroke-wrapper-504_2287 {
        position: relative;
width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
      }
.stroke-504_2287 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
border-color: var(--content-content-primary-d19f126556c8423d899988749bcb72b3645b5ef5-17178-131);
      }
.Pixso-instance-504_2288 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings46.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-504_2289 {
        width: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
height: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
position: relative;
border-radius: var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27);
background-color: var(--accent-accent-primary-1d3dcea5276688a36ab7e7ecf88088bfd47731e6-17178-121);
      }
.Pixso-instance-504_2290 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings63.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-504_2291 {
        width: 100%;
height: 100%;
position: relative;
border-radius: var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27);
background-color: var(--accent-accent-primary-1d3dcea5276688a36ab7e7ecf88088bfd47731e6-17178-121);
      }
.stroke-wrapper-504_2291 {
        position: relative;
width: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
height: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
      }
.stroke-504_2291 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--content-content-primary-d19f126556c8423d899988749bcb72b3645b5ef5-17178-131);
      }
.Pixso-instance-504_2292 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings56.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-504_2293 {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
overflow: hidden;
position: relative;
border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
background-color: var(--accent-accent-sub-primary);
      }
.Pixso-instance-504_2294 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings34.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-504_2295 {
        width: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
height: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
overflow: hidden;
position: relative;
border-radius: var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27);
background-color: var(--accent-accent-sub-primary);
      }
.Pixso-instance-504_2296 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings33.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-504_2297 {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
overflow: hidden;
position: relative;
border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
background-color: var(--accent-accent-secondary);
      }
.Pixso-instance-504_2298 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings32.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-504_2299 {
        width: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
height: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
overflow: hidden;
position: relative;
border-radius: var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27);
background-color: var(--accent-accent-secondary);
      }
.Pixso-instance-504_2300 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings31.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-504_2301 {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
position: relative;
border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
background-color: var(--content-content-background);
      }
.Pixso-instance-504_2302 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings30.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-504_2303 {
        width: 100%;
height: 100%;
position: relative;
border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
background-color: var(--content-content-background);
      }
.stroke-wrapper-504_2303 {
        position: relative;
width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
      }
.stroke-504_2303 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
border-color: var(--accent-accent-primary-1d3dcea5276688a36ab7e7ecf88088bfd47731e6-17178-121);
      }
.Pixso-instance-504_2304 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings29.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-504_2305 {
        width: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
height: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
position: relative;
border-radius: var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27);
background-color: var(--content-content-background);
      }
.Pixso-instance-504_2306 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings28.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-504_2307 {
        width: 100%;
height: 100%;
position: relative;
border-radius: var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27);
background-color: var(--content-content-background);
      }
.stroke-wrapper-504_2307 {
        position: relative;
width: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
height: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
      }
.stroke-504_2307 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--accent-accent-primary-1d3dcea5276688a36ab7e7ecf88088bfd47731e6-17178-121);
      }
.Pixso-instance-504_2308 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings27.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-504_2309 {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
overflow: hidden;
position: relative;
border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
background-color: var(--content-content-border-3a9b5f9c6b64eae1133d8e92e07a7d8fdc679df2-17178-122);
      }
.Pixso-instance-504_2310 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings26.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-504_2311 {
        width: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
height: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
overflow: hidden;
position: relative;
border-radius: var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27);
background-color: var(--content-content-border-3a9b5f9c6b64eae1133d8e92e07a7d8fdc679df2-17178-122);
      }
.Pixso-instance-504_2312 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings25.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-504_2313 {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
overflow: hidden;
position: relative;
border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
background-color: var(--content-content-disabled);
      }
.Pixso-instance-504_2314 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings24.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-504_2315 {
        width: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
height: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
overflow: hidden;
position: relative;
border-radius: var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27);
background-color: var(--content-content-disabled);
      }
.Pixso-instance-504_2316 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings23.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-504_2317 {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
position: relative;
border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
      }
.Pixso-instance-504_2318 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings22.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-504_2319 {
        width: 100%;
height: 100%;
position: relative;
border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
      }
.stroke-wrapper-504_2319 {
        position: relative;
width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
      }
.stroke-504_2319 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
border-color: var(--accent-accent-primary-1d3dcea5276688a36ab7e7ecf88088bfd47731e6-17178-121);
      }
.Pixso-instance-504_2320 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings21.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-504_2321 {
        width: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
height: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
position: relative;
border-radius: var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27);
      }
.Pixso-instance-504_2322 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings20.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-504_2323 {
        width: 100%;
height: 100%;
position: relative;
border-radius: var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27);
      }
.stroke-wrapper-504_2323 {
        position: relative;
width: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
height: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
      }
.stroke-504_2323 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--accent-accent-primary-1d3dcea5276688a36ab7e7ecf88088bfd47731e6-17178-121);
      }
.Pixso-instance-504_2324 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings19.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-504_2325 {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
overflow: hidden;
position: relative;
border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
background-color: var(--content-content-background);
      }
.Pixso-instance-504_2326 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings18.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-504_2327 {
        width: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
height: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
overflow: hidden;
position: relative;
border-radius: var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27);
background-color: var(--content-content-background);
      }
.Pixso-instance-504_2328 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings17.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-504_2329 {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
overflow: hidden;
position: relative;
border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
background-color: var(--content-content-border-3a9b5f9c6b64eae1133d8e92e07a7d8fdc679df2-17178-122);
      }
.Pixso-instance-504_2330 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings16.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-504_2331 {
        width: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
height: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
overflow: hidden;
position: relative;
border-radius: var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27);
background-color: var(--content-content-border-3a9b5f9c6b64eae1133d8e92e07a7d8fdc679df2-17178-122);
      }
.Pixso-instance-504_2332 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings15.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-504_2333 {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
position: relative;
border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
background-color: var(--content-content-background);
      }
.Pixso-instance-504_2334 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings14.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-504_2335 {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
position: relative;
border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
background-color: var(--content-content-background);
      }
.Pixso-instance-504_2336 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings13.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-504_2337 {
        width: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
height: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
position: relative;
border-radius: var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27);
background-color: var(--content-content-background);
      }
.Pixso-instance-504_2338 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings12.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-504_2339 {
        width: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
height: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
position: relative;
border-radius: var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27);
background-color: var(--content-content-background);
      }
.Pixso-instance-504_2340 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings11.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-504_2341 {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
overflow: hidden;
position: relative;
border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
background-color: var(--content-content-background);
      }
.Pixso-instance-504_2342 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings10.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-504_2343 {
        width: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
height: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
overflow: hidden;
position: relative;
border-radius: var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27);
background-color: var(--content-content-background);
      }
.Pixso-instance-504_2344 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings9.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-504_2345 {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
overflow: hidden;
position: relative;
border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
background-color: var(--content-content-background);
      }
.Pixso-instance-504_2346 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings57.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-504_2347 {
        width: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
height: var(--small-size-94c84065add6109771f20fc479438f2c5ef0a4b4-14116-26);
overflow: hidden;
position: relative;
border-radius: var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27) var(--small-radius-a2d55cc6923cd2848ed4aee5fe7bf412a37ae8c9-14116-27);
background-color: var(--content-content-background);
      }
.Pixso-instance-504_2348 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings53.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.component-504_2228 {
        width: fit-content;
height: fit-content;
      }

