
.Pixso-symbol-978_1464 {
        
      }
.Pixso-symbol-978_1465 {
        width: var(--big-size);
height: var(--big-size);
overflow: hidden;
position: relative;
border-radius: var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19);
background-color: var(--accent-accent-primary);
      }
.Pixso-instance-978_1466 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings122.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-978_1467 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
border-radius: var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19);
background-color: var(--accent-accent-primary);
      }
.stroke-wrapper-978_1467 {
        position: relative;
width: var(--big-size);
height: var(--big-size);
      }
.stroke-978_1467 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
border-color: var(--content-content-primary);
      }
.Pixso-instance-978_1468 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings121.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-978_1469 {
        width: var(--big-size);
height: var(--big-size);
overflow: hidden;
position: relative;
border-radius: var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19);
background-color: var(--accent-accent-sub-primary-b361a74bf00108928fc835823a0982df0287690c-19171-43);
      }
.Pixso-instance-978_1470 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings118.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-978_1471 {
        width: var(--big-size);
height: var(--big-size);
overflow: hidden;
position: relative;
border-radius: var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19);
background-color: var(--accent-accent-secondary-b3937a20841e5a67d6a68c4712b1239b95d07ee1-19171-42);
      }
.Pixso-instance-978_1472 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings117.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-978_1473 {
        width: var(--big-size);
height: var(--big-size);
overflow: hidden;
position: relative;
border-radius: var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19);
background-color: var(--accent-accent-background-7472aa02ca53dbf78f7c79a2ace67adcd8d2b007-19171-46);
      }
.Pixso-instance-978_1474 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings116.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-978_1475 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
border-radius: var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19);
background-color: var(--accent-accent-background-7472aa02ca53dbf78f7c79a2ace67adcd8d2b007-19171-46);
      }
.stroke-wrapper-978_1475 {
        position: relative;
width: var(--big-size);
height: var(--big-size);
      }
.stroke-978_1475 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
border-color: var(--accent-accent-primary);
      }
.Pixso-instance-978_1476 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings111.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-978_1477 {
        width: var(--big-size);
height: var(--big-size);
overflow: hidden;
position: relative;
border-radius: var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19);
background-color: var(--accent-accent-border-c6391d36a71aa2e5fbbec13d14b8023103533f54-19171-45);
      }
.Pixso-instance-978_1478 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings120.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-978_1479 {
        width: var(--big-size);
height: var(--big-size);
overflow: hidden;
position: relative;
border-radius: var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19);
background-color: var(--accent-accent-disabled);
      }
.Pixso-instance-978_1480 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings119.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-978_1481 {
        width: var(--big-size);
height: var(--big-size);
overflow: hidden;
position: relative;
border-radius: var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-instance-978_1482 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings115.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-978_1483 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
border-radius: var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.stroke-wrapper-978_1483 {
        position: relative;
width: var(--big-size);
height: var(--big-size);
      }
.stroke-978_1483 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
border-color: var(--accent-accent-primary);
      }
.Pixso-instance-978_1484 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings114.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-978_1485 {
        width: var(--big-size);
height: var(--big-size);
overflow: hidden;
position: relative;
border-radius: var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19);
background-color: var(--content-content-border);
      }
.Pixso-instance-978_1486 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings113.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-978_1487 {
        width: var(--big-size);
height: var(--big-size);
overflow: hidden;
position: relative;
border-radius: var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19);
background-color: var(--content-content-disabled-d9c066edc7cde51478dffefecab7b5940cd702ef-19171-38);
      }
.Pixso-instance-978_1488 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings112.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-978_1489 {
        width: var(--big-size);
height: var(--big-size);
overflow: hidden;
position: relative;
border-radius: var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19);
      }
.Pixso-instance-978_1490 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings98.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-978_1491 {
        width: 100%;
height: 100%;
overflow: hidden;
position: relative;
border-radius: var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19);
      }
.stroke-wrapper-978_1491 {
        position: relative;
width: var(--big-size);
height: var(--big-size);
      }
.stroke-978_1491 {
        position: absolute;
inset: 0px;
border-radius: 16px 16px 16px 16px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
border-color: var(--accent-accent-primary);
      }
.Pixso-instance-978_1492 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings97.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-978_1493 {
        width: var(--big-size);
height: var(--big-size);
overflow: hidden;
position: relative;
border-radius: var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-instance-978_1494 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings96.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-978_1495 {
        width: var(--big-size);
height: var(--big-size);
overflow: hidden;
position: relative;
border-radius: var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19);
background-color: var(--content-content-border);
      }
.Pixso-instance-978_1496 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings95.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-978_1497 {
        width: var(--big-size);
height: var(--big-size);
overflow: hidden;
position: relative;
border-radius: var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-instance-978_1498 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings110.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-978_1499 {
        width: var(--big-size);
height: var(--big-size);
overflow: hidden;
position: relative;
border-radius: var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-instance-978_1500 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings108.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-978_1501 {
        width: var(--big-size);
height: var(--big-size);
overflow: hidden;
position: relative;
border-radius: var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-instance-978_1502 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings109.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-978_1503 {
        width: var(--big-size);
height: var(--big-size);
overflow: hidden;
position: relative;
border-radius: var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19) var(--big-radius-05e0c963bc041bf8d46bb5ac3b4126bd2f02ced0-14116-19);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-instance-978_1504 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings107.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 14px;
top: 14px;
      }
.Pixso-symbol-978_1505 {
        width: var(--medium-size);
height: var(--medium-size);
position: relative;
border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
background-color: var(--accent-accent-background-7472aa02ca53dbf78f7c79a2ace67adcd8d2b007-19171-46);
      }
.Pixso-instance-978_1506 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings130.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-978_1507 {
        width: 100%;
height: 100%;
position: relative;
border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
background-color: var(--accent-accent-background-7472aa02ca53dbf78f7c79a2ace67adcd8d2b007-19171-46);
      }
.stroke-wrapper-978_1507 {
        position: relative;
width: var(--medium-size);
height: var(--medium-size);
      }
.stroke-978_1507 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
border-color: var(--accent-accent-primary);
      }
.Pixso-instance-978_1508 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings128.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-978_1509 {
        width: var(--small-size);
height: var(--small-size);
position: relative;
border-radius: var(--small-radius) var(--small-radius) var(--small-radius) var(--small-radius);
background-color: var(--accent-accent-background-7472aa02ca53dbf78f7c79a2ace67adcd8d2b007-19171-46);
      }
.Pixso-instance-978_1510 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings125.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-978_1511 {
        width: 100%;
height: 100%;
position: relative;
border-radius: var(--small-radius) var(--small-radius) var(--small-radius) var(--small-radius);
background-color: var(--accent-accent-background-7472aa02ca53dbf78f7c79a2ace67adcd8d2b007-19171-46);
      }
.stroke-wrapper-978_1511 {
        position: relative;
width: var(--small-size);
height: var(--small-size);
      }
.stroke-978_1511 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--accent-accent-primary);
      }
.Pixso-instance-978_1512 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings129.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-978_1513 {
        width: var(--medium-size);
height: var(--medium-size);
overflow: hidden;
position: relative;
border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
background-color: var(--accent-accent-border-c6391d36a71aa2e5fbbec13d14b8023103533f54-19171-45);
      }
.Pixso-instance-978_1514 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings126.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-978_1515 {
        width: var(--small-size);
height: var(--small-size);
overflow: hidden;
position: relative;
border-radius: var(--small-radius) var(--small-radius) var(--small-radius) var(--small-radius);
background-color: var(--accent-accent-border-c6391d36a71aa2e5fbbec13d14b8023103533f54-19171-45);
      }
.Pixso-instance-978_1516 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings124.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-978_1517 {
        width: var(--medium-size);
height: var(--medium-size);
overflow: hidden;
position: relative;
border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
background-color: var(--accent-accent-disabled);
      }
.Pixso-instance-978_1518 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings123.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-978_1519 {
        width: var(--small-size);
height: var(--small-size);
overflow: hidden;
position: relative;
border-radius: var(--small-radius) var(--small-radius) var(--small-radius) var(--small-radius);
background-color: var(--accent-accent-disabled);
      }
.Pixso-instance-978_1520 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings127.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-978_1521 {
        width: var(--medium-size);
height: var(--medium-size);
position: relative;
border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
background-color: var(--accent-accent-primary);
      }
.Pixso-instance-978_1522 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings94.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-978_1523 {
        width: 100%;
height: 100%;
position: relative;
border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
background-color: var(--accent-accent-primary);
      }
.stroke-wrapper-978_1523 {
        position: relative;
width: var(--medium-size);
height: var(--medium-size);
      }
.stroke-978_1523 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
border-color: var(--content-content-primary);
      }
.Pixso-instance-978_1524 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings92.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-978_1525 {
        width: var(--small-size);
height: var(--small-size);
position: relative;
border-radius: var(--small-radius) var(--small-radius) var(--small-radius) var(--small-radius);
background-color: var(--accent-accent-primary);
      }
.Pixso-instance-978_1526 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings89.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-978_1527 {
        width: 100%;
height: 100%;
position: relative;
border-radius: var(--small-radius) var(--small-radius) var(--small-radius) var(--small-radius);
background-color: var(--accent-accent-primary);
      }
.stroke-wrapper-978_1527 {
        position: relative;
width: var(--small-size);
height: var(--small-size);
      }
.stroke-978_1527 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--content-content-primary);
      }
.Pixso-instance-978_1528 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings93.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-978_1529 {
        width: var(--medium-size);
height: var(--medium-size);
overflow: hidden;
position: relative;
border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
background-color: var(--accent-accent-sub-primary-b361a74bf00108928fc835823a0982df0287690c-19171-43);
      }
.Pixso-instance-978_1530 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings90.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-978_1531 {
        width: var(--small-size);
height: var(--small-size);
overflow: hidden;
position: relative;
border-radius: var(--small-radius) var(--small-radius) var(--small-radius) var(--small-radius);
background-color: var(--accent-accent-sub-primary-b361a74bf00108928fc835823a0982df0287690c-19171-43);
      }
.Pixso-instance-978_1532 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings88.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-978_1533 {
        width: var(--medium-size);
height: var(--medium-size);
overflow: hidden;
position: relative;
border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
background-color: var(--accent-accent-secondary-b3937a20841e5a67d6a68c4712b1239b95d07ee1-19171-42);
      }
.Pixso-instance-978_1534 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings87.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-978_1535 {
        width: var(--small-size);
height: var(--small-size);
overflow: hidden;
position: relative;
border-radius: var(--small-radius) var(--small-radius) var(--small-radius) var(--small-radius);
background-color: var(--accent-accent-secondary-b3937a20841e5a67d6a68c4712b1239b95d07ee1-19171-42);
      }
.Pixso-instance-978_1536 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings91.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-978_1537 {
        width: var(--medium-size);
height: var(--medium-size);
position: relative;
border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-instance-978_1538 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings86.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-978_1539 {
        width: 100%;
height: 100%;
position: relative;
border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.stroke-wrapper-978_1539 {
        position: relative;
width: var(--medium-size);
height: var(--medium-size);
      }
.stroke-978_1539 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
border-color: var(--accent-accent-primary);
      }
.Pixso-instance-978_1540 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-978_1541 {
        width: var(--small-size);
height: var(--small-size);
position: relative;
border-radius: var(--small-radius) var(--small-radius) var(--small-radius) var(--small-radius);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-instance-978_1542 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings81.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-978_1543 {
        width: 100%;
height: 100%;
position: relative;
border-radius: var(--small-radius) var(--small-radius) var(--small-radius) var(--small-radius);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.stroke-wrapper-978_1543 {
        position: relative;
width: var(--small-size);
height: var(--small-size);
      }
.stroke-978_1543 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--accent-accent-primary);
      }
.Pixso-instance-978_1544 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings85.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-978_1545 {
        width: var(--medium-size);
height: var(--medium-size);
overflow: hidden;
position: relative;
border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
background-color: var(--content-content-border);
      }
.Pixso-instance-978_1546 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings82.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-978_1547 {
        width: var(--small-size);
height: var(--small-size);
overflow: hidden;
position: relative;
border-radius: var(--small-radius) var(--small-radius) var(--small-radius) var(--small-radius);
background-color: var(--content-content-border);
      }
.Pixso-instance-978_1548 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings80.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-978_1549 {
        width: var(--medium-size);
height: var(--medium-size);
overflow: hidden;
position: relative;
border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
background-color: var(--content-content-disabled-d9c066edc7cde51478dffefecab7b5940cd702ef-19171-38);
      }
.Pixso-instance-978_1550 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings79.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-978_1551 {
        width: var(--small-size);
height: var(--small-size);
overflow: hidden;
position: relative;
border-radius: var(--small-radius) var(--small-radius) var(--small-radius) var(--small-radius);
background-color: var(--content-content-disabled-d9c066edc7cde51478dffefecab7b5940cd702ef-19171-38);
      }
.Pixso-instance-978_1552 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings83.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-978_1553 {
        width: var(--medium-size);
height: var(--medium-size);
position: relative;
border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
      }
.Pixso-instance-978_1554 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings106.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-978_1555 {
        width: 100%;
height: 100%;
position: relative;
border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
      }
.stroke-wrapper-978_1555 {
        position: relative;
width: var(--medium-size);
height: var(--medium-size);
      }
.stroke-978_1555 {
        position: absolute;
inset: 0px;
border-radius: 12px 12px 12px 12px;
pointer-events: none;
border-width: 2px 2px 2px 2px;
border-style: solid;
box-sizing: border-box;
border-color: var(--accent-accent-primary);
      }
.Pixso-instance-978_1556 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings104.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-978_1557 {
        width: var(--small-size);
height: var(--small-size);
position: relative;
border-radius: var(--small-radius) var(--small-radius) var(--small-radius) var(--small-radius);
      }
.Pixso-instance-978_1558 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings101.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-978_1559 {
        width: 100%;
height: 100%;
position: relative;
border-radius: var(--small-radius) var(--small-radius) var(--small-radius) var(--small-radius);
      }
.stroke-wrapper-978_1559 {
        position: relative;
width: var(--small-size);
height: var(--small-size);
      }
.stroke-978_1559 {
        position: absolute;
inset: 0px;
border-radius: 8px 8px 8px 8px;
pointer-events: none;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: var(--accent-accent-primary);
      }
.Pixso-instance-978_1560 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings105.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-978_1561 {
        width: var(--medium-size);
height: var(--medium-size);
overflow: hidden;
position: relative;
border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-instance-978_1562 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings102.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-978_1563 {
        width: var(--small-size);
height: var(--small-size);
overflow: hidden;
position: relative;
border-radius: var(--small-radius) var(--small-radius) var(--small-radius) var(--small-radius);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-instance-978_1564 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings100.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-978_1565 {
        width: var(--medium-size);
height: var(--medium-size);
overflow: hidden;
position: relative;
border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
background-color: var(--content-content-border);
      }
.Pixso-instance-978_1566 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings99.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-978_1567 {
        width: var(--small-size);
height: var(--small-size);
overflow: hidden;
position: relative;
border-radius: var(--small-radius) var(--small-radius) var(--small-radius) var(--small-radius);
background-color: var(--content-content-border);
      }
.Pixso-instance-978_1568 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings103.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-978_1569 {
        width: var(--medium-size);
height: var(--medium-size);
position: relative;
border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-instance-978_1570 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings78.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-978_1571 {
        width: var(--medium-size);
height: var(--medium-size);
position: relative;
border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-instance-978_1572 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings76.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-978_1573 {
        width: var(--small-size);
height: var(--small-size);
position: relative;
border-radius: var(--small-radius) var(--small-radius) var(--small-radius) var(--small-radius);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-instance-978_1574 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings73.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-978_1575 {
        width: var(--small-size);
height: var(--small-size);
position: relative;
border-radius: var(--small-radius) var(--small-radius) var(--small-radius) var(--small-radius);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-instance-978_1576 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings77.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-978_1577 {
        width: var(--medium-size);
height: var(--medium-size);
overflow: hidden;
position: relative;
border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-instance-978_1578 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings74.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-978_1579 {
        width: var(--small-size);
height: var(--small-size);
overflow: hidden;
position: relative;
border-radius: var(--small-radius) var(--small-radius) var(--small-radius) var(--small-radius);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-instance-978_1580 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings72.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.Pixso-symbol-978_1581 {
        width: var(--medium-size);
height: var(--medium-size);
overflow: hidden;
position: relative;
border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-instance-978_1582 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/settings71.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 8px;
top: 8px;
      }
.Pixso-symbol-978_1583 {
        width: var(--small-size);
height: var(--small-size);
overflow: hidden;
position: relative;
border-radius: var(--small-radius) var(--small-radius) var(--small-radius) var(--small-radius);
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-instance-978_1584 {
        width: 20px;
height: 20px;
background-image: url(@/assets/images/settings75.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 6px;
top: 6px;
      }
.component-978_1464 {
        width: fit-content;
height: fit-content;
      }

