
.Pixso-symbol-1057_170126 {
        
      }
.Pixso-symbol-1057_170127 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/statedeselecteddisabledno2.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
      }
.Pixso-symbol-1057_170129 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/statedeselecteddisabledyes2.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
      }
.Pixso-symbol-1057_170131 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/stateselecteddisabledno2.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
      }
.Pixso-symbol-1057_170134 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/statemixeddisabledno2.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
      }
.Pixso-symbol-1057_170137 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/statemixeddisabledyes2.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
      }
.Pixso-symbol-1057_170140 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/stateselecteddisabledyes2.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
      }
.component-1057_170126 {
        width: fit-content;
height: fit-content;
      }

