
.Pixso-symbol-431_163985 {
        
      }
.Pixso-symbol-431_163986 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/statedeselecteddisabledno1.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
      }
.Pixso-symbol-431_163988 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/statedeselecteddisabledyes1.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
      }
.Pixso-symbol-431_163990 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/stateselecteddisabledno1.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
      }
.Pixso-symbol-431_163993 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/statemixeddisabledno1.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
      }
.Pixso-symbol-431_163996 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/statemixeddisabledyes1.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
      }
.Pixso-symbol-431_163999 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/stateselecteddisabledyes1.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
      }
.component-431_163985 {
        width: fit-content;
height: fit-content;
      }

