
.Pixso-symbol-213_126717 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/chevronright2.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
      }
.component-213_126717 {
        width: fit-content;
height: fit-content;
      }

