
.Pixso-symbol-1057_170117 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
      }
.component-1057_170117 {
        width: fit-content;
height: fit-content;
      }

