
.Pixso-symbol-431_165361 {
        
      }
.Pixso-symbol-431_165362 {
        width: 14px;
height: 14px;
overflow: hidden;
position: relative;
      }
.Pixso-vector-431_165363 {
        width: 12px;
height: 12px;
background-image: url(@/assets/images/Subtract.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1px;
top: 1px;
      }
.Pixso-symbol-431_165366 {
        width: 14px;
height: 14px;
overflow: hidden;
position: relative;
      }
.Pixso-vector-431_165367 {
        width: 12px;
height: 12px;
background-image: url(@/assets/images/Ellipse9761.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0px)) translateY(calc(-50% + 0px));
      }
.Pixso-vector-431_165368 {
        width: 12px;
height: 12px;
background-image: url(@/assets/images/Ellipse9781.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0px)) translateY(calc(-50% + 0px));
      }
.Pixso-symbol-431_165369 {
        width: 14px;
height: 14px;
overflow: hidden;
position: relative;
      }
.Pixso-vector-431_165370 {
        width: 12px;
height: 12px;
background-image: url(@/assets/images/Ellipse9760.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0px)) translateY(calc(-50% + 0px));
      }
.Pixso-vector-431_165371 {
        width: 12px;
height: 12px;
background-image: url(@/assets/images/Ellipse9780.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0px)) translateY(calc(-50% + 0px));
      }
.Pixso-symbol-431_165372 {
        width: 14px;
height: 14px;
overflow: hidden;
position: relative;
      }
.Pixso-vector-431_165373 {
        width: 12px;
height: 12px;
background-image: url(@/assets/images/Ellipse976.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0px)) translateY(calc(-50% + 0px));
      }
.Pixso-vector-431_165374 {
        width: 12px;
height: 12px;
background-image: url(@/assets/images/Ellipse978.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0px)) translateY(calc(-50% + 0px));
      }
.component-431_165361 {
        width: fit-content;
height: fit-content;
      }

