
.Pixso-symbol-1004_170666 {
        
      }
.Pixso-symbol-1004_170667 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/is_outlinefalse22.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
      }
.Pixso-symbol-1004_170669 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/is_outlinetrue22.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
      }
.component-1004_170666 {
        width: fit-content;
height: fit-content;
      }

