
.Pixso-symbol-445_139036 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/dialpad1.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
      }
.component-445_139036 {
        width: fit-content;
height: fit-content;
      }

