
.Pixso-symbol-431_165255 {
        
      }
.Pixso-symbol-431_165256 {
        width: 80px;
height: 80px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-431_165257 {
        width: 77.33331298828125px;
height: 80px;
background-image: url(@/assets/images/Subtract1.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1px;
top: 0px;
      }
.Pixso-symbol-431_165259 {
        width: 80px;
height: 80px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-431_165260 {
        width: 77.33331298828125px;
height: 80px;
background-image: url(@/assets/images/Subtract0.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1px;
top: 0px;
      }
.component-431_165255 {
        width: fit-content;
height: fit-content;
      }

