
.Pixso-symbol-1004_170930 {
        
      }
.Pixso-symbol-1004_170931 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/is_outlinefalse25.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
      }
.Pixso-symbol-1004_170933 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/is_outlinetrue25.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
      }
.component-1004_170930 {
        width: fit-content;
height: fit-content;
      }

