
.Pixso-symbol-504_3600 {
        
      }
.Pixso-symbol-504_3601 {
        width: 24px;
height: 24px;
overflow: hidden;
position: relative;
      }
.Pixso-vector-504_3602 {
        width: 83.34%;
height: 75%;
background-image: url(@/assets/images/Vector373Stroke.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 8.33%;
right: 8.33%;
top: 12.5%;
bottom: 12.5%;
      }
.Pixso-symbol-504_3603 {
        width: 24px;
height: 24px;
overflow: hidden;
position: relative;
      }
.Pixso-vector-504_3604 {
        width: 22px;
height: 19px;
background-image: url(@/assets/images/Subtract23.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 1.000017px;
top: 2.000015px;
      }
.Pixso-symbol-504_3607 {
        width: 24px;
height: 24px;
overflow: hidden;
position: relative;
      }
.Pixso-vector-504_3608 {
        width: 22px;
height: 19px;
background-image: url(@/assets/images/Union0.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + -0.00010500000000068788px)) translateY(calc(-50% + -0.5000569999999991px));
      }
.Pixso-symbol-504_3609 {
        width: 24px;
height: 24px;
overflow: hidden;
position: relative;
      }
.Pixso-vector-504_3610 {
        width: 20px;
height: 18px;
background-image: url(@/assets/images/Subtract22.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 2px;
top: 3px;
      }
.component-504_3600 {
        width: fit-content;
height: fit-content;
      }

