
.Pixso-symbol-1981_158342 {
        width: 20px;
height: 20px;
position: relative;
background-color: transparent;
      }
.Pixso-instance-1981_158338 {
        width: 20px;
height: 20px;
position: absolute;
left: 0px;
top: 0px;
      }
.component-1981_158342 {
        width: fit-content;
height: fit-content;
      }


.Pixso-instance-1981_158338 .Pixso-symbol-504_3603  {
        width: 20px;
height: 20px;
overflow: hidden;
      }
.Pixso-instance-1981_158338 .Pixso-vector-504_3604  {
        width: 18.333422px;
height: 15.833385px;
      }
