
.Pixso-symbol-894_155469 {
        
      }
.Pixso-symbol-894_155470 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-894_155471 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-894_155472 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-894_155473 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-894_155474 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-894_155475 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-894_155476 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-894_155477 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155478 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-894_155479 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-894_155480 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155481 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-894_155482 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-894_155483 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155484 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-894_155485 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-894_155486 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155487 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155488 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-894_155489 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-894_155490 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155491 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155492 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-894_155493 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-894_155494 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155495 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155496 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-894_155497 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-894_155498 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155499 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155500 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155501 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-894_155502 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-894_155503 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155504 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155505 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155506 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-894_155507 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-894_155508 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155509 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155510 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155511 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-894_155512 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-894_155513 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-894_155514 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-894_155515 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-894_155516 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-894_155517 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-894_155518 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-894_155519 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155520 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-894_155521 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-894_155522 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155523 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-894_155524 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-894_155525 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155526 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-894_155527 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-894_155528 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155529 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155530 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-894_155531 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-894_155532 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155533 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155534 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-894_155535 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-894_155536 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155537 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155538 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-894_155539 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-894_155540 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155541 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155542 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155543 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-894_155544 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-894_155545 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155546 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155547 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155548 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-894_155549 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-894_155550 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155551 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155552 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-894_155553 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.component-894_155469 {
        width: fit-content;
height: fit-content;
      }


.Pixso-instance-894_155517 {
        border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
      }
.Pixso-instance-894_155517 .Pixso-symbol-894_155467  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155525 {
        border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
      }
.Pixso-instance-894_155525 .Pixso-symbol-894_155467  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155526 {
        border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
      }
.Pixso-instance-894_155526 .Pixso-symbol-894_155467  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155536 {
        border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
      }
.Pixso-instance-894_155536 .Pixso-symbol-894_155467  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155537 {
        border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
      }
.Pixso-instance-894_155537 .Pixso-symbol-894_155467  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155538 {
        border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
      }
.Pixso-instance-894_155538 .Pixso-symbol-894_155467  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155550 {
        border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
      }
.Pixso-instance-894_155550 .Pixso-symbol-894_155467  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155551 {
        border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
      }
.Pixso-instance-894_155551 .Pixso-symbol-894_155467  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155552 {
        border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
      }
.Pixso-instance-894_155552 .Pixso-symbol-894_155467  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155553 {
        border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
      }
.Pixso-instance-894_155553 .Pixso-symbol-894_155467  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155515 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155515 .Pixso-symbol-894_155465  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155522 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155522 .Pixso-symbol-894_155465  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155523 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155523 .Pixso-symbol-894_155465  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155532 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155532 .Pixso-symbol-894_155465  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155533 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155533 .Pixso-symbol-894_155465  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155534 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155534 .Pixso-symbol-894_155465  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155545 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155545 .Pixso-symbol-894_155465  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155546 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155546 .Pixso-symbol-894_155465  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155547 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155547 .Pixso-symbol-894_155465  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155548 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155548 .Pixso-symbol-894_155465  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155513 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155513 .Pixso-symbol-894_155463  {
        width: 40px;
height: 40px;
      }
.Pixso-instance-894_155519 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155519 .Pixso-symbol-894_155463  {
        width: 40px;
height: 40px;
      }
.Pixso-instance-894_155520 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155520 .Pixso-symbol-894_155463  {
        width: 40px;
height: 40px;
      }
.Pixso-instance-894_155528 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155528 .Pixso-symbol-894_155463  {
        width: 40px;
height: 40px;
      }
.Pixso-instance-894_155529 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155529 .Pixso-symbol-894_155463  {
        width: 40px;
height: 40px;
      }
.Pixso-instance-894_155530 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155530 .Pixso-symbol-894_155463  {
        width: 40px;
height: 40px;
      }
.Pixso-instance-894_155540 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155540 .Pixso-symbol-894_155463  {
        width: 40px;
height: 40px;
      }
.Pixso-instance-894_155541 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155541 .Pixso-symbol-894_155463  {
        width: 40px;
height: 40px;
      }
.Pixso-instance-894_155542 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155542 .Pixso-symbol-894_155463  {
        width: 40px;
height: 40px;
      }
.Pixso-instance-894_155543 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155543 .Pixso-symbol-894_155463  {
        width: 40px;
height: 40px;
      }
.Pixso-instance-894_155475 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155475 .Pixso-symbol-894_155461  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155483 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155483 .Pixso-symbol-894_155461  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155484 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155484 .Pixso-symbol-894_155461  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155494 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155494 .Pixso-symbol-894_155461  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155495 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155495 .Pixso-symbol-894_155461  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155496 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155496 .Pixso-symbol-894_155461  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155508 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155508 .Pixso-symbol-894_155461  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155509 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155509 .Pixso-symbol-894_155461  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155510 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155510 .Pixso-symbol-894_155461  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155511 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155511 .Pixso-symbol-894_155461  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155473 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155473 .Pixso-symbol-894_155459  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155480 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155480 .Pixso-symbol-894_155459  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155481 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155481 .Pixso-symbol-894_155459  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155490 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155490 .Pixso-symbol-894_155459  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155491 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155491 .Pixso-symbol-894_155459  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155492 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155492 .Pixso-symbol-894_155459  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155503 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155503 .Pixso-symbol-894_155459  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155504 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155504 .Pixso-symbol-894_155459  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155505 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155505 .Pixso-symbol-894_155459  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155506 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-894_155506 .Pixso-symbol-894_155459  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-894_155471 {
        border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
      }
.Pixso-instance-894_155471 .Pixso-symbol-504_2317  {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
      }
.Pixso-instance-894_155477 {
        border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
      }
.Pixso-instance-894_155477 .Pixso-symbol-504_2317  {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
      }
.Pixso-instance-894_155478 {
        border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
      }
.Pixso-instance-894_155478 .Pixso-symbol-504_2317  {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
      }
.Pixso-instance-894_155486 {
        border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
      }
.Pixso-instance-894_155486 .Pixso-symbol-504_2317  {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
      }
.Pixso-instance-894_155487 {
        border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
      }
.Pixso-instance-894_155487 .Pixso-symbol-504_2317  {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
      }
.Pixso-instance-894_155488 {
        border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
      }
.Pixso-instance-894_155488 .Pixso-symbol-504_2317  {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
      }
.Pixso-instance-894_155498 {
        border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
      }
.Pixso-instance-894_155498 .Pixso-symbol-504_2317  {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
      }
.Pixso-instance-894_155499 {
        border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
      }
.Pixso-instance-894_155499 .Pixso-symbol-504_2317  {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
      }
.Pixso-instance-894_155500 {
        border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
      }
.Pixso-instance-894_155500 .Pixso-symbol-504_2317  {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
      }
.Pixso-instance-894_155501 {
        border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
      }
.Pixso-instance-894_155501 .Pixso-symbol-504_2317  {
        width: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
height: var(--medium-size-0fc34409473ff2618db1ac4de81a59d9cfed54aa-14116-22);
      }
