
.Pixso-symbol-1057_170202 {
        
      }
.Pixso-symbol-1057_170203 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170204 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170205 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170206 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170207 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170208 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170209 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170210 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170211 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170212 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170213 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170214 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170215 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170216 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170217 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170218 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170219 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170220 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170221 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170222 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170223 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170224 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170225 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170226 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170227 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170228 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170229 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170230 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170231 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170232 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170233 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170234 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170235 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170236 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170237 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170238 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170239 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170240 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170241 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170242 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170243 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170244 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170245 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170246 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170247 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170248 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170249 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170250 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170251 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170252 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170253 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170254 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170255 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170256 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170257 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170258 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170259 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170260 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170261 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170262 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170263 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170264 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170265 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170266 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170267 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170268 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170269 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170270 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170271 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170272 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170273 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170274 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170275 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170276 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170277 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170278 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170279 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170280 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170281 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170282 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170283 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170284 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170285 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170286 {
        width: 40px;
height: 40px;
position: relative;
flex-shrink: 0;
      }
.component-1057_170202 {
        width: fit-content;
height: fit-content;
      }


.Pixso-instance-1057_170206 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170206 .Pixso-symbol-1057_169909  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170213 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170213 .Pixso-symbol-1057_169909  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170214 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170214 .Pixso-symbol-1057_169909  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170223 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170223 .Pixso-symbol-1057_169909  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170224 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170224 .Pixso-symbol-1057_169909  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170225 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170225 .Pixso-symbol-1057_169909  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170236 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170236 .Pixso-symbol-1057_169909  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170237 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170237 .Pixso-symbol-1057_169909  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170238 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170238 .Pixso-symbol-1057_169909  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170239 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170239 .Pixso-symbol-1057_169909  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170250 {
        border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
      }
.Pixso-instance-1057_170250 .Pixso-symbol-1057_169888  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170258 {
        border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
      }
.Pixso-instance-1057_170258 .Pixso-symbol-1057_169888  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170259 {
        border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
      }
.Pixso-instance-1057_170259 .Pixso-symbol-1057_169888  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170269 {
        border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
      }
.Pixso-instance-1057_170269 .Pixso-symbol-1057_169888  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170270 {
        border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
      }
.Pixso-instance-1057_170270 .Pixso-symbol-1057_169888  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170271 {
        border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
      }
.Pixso-instance-1057_170271 .Pixso-symbol-1057_169888  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170283 {
        border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
      }
.Pixso-instance-1057_170283 .Pixso-symbol-1057_169888  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170284 {
        border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
      }
.Pixso-instance-1057_170284 .Pixso-symbol-1057_169888  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170285 {
        border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
      }
.Pixso-instance-1057_170285 .Pixso-symbol-1057_169888  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170286 {
        border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
      }
.Pixso-instance-1057_170286 .Pixso-symbol-1057_169888  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170208 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170208 .Pixso-symbol-1057_169907  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170216 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170216 .Pixso-symbol-1057_169907  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170217 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170217 .Pixso-symbol-1057_169907  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170227 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170227 .Pixso-symbol-1057_169907  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170228 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170228 .Pixso-symbol-1057_169907  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170229 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170229 .Pixso-symbol-1057_169907  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170241 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170241 .Pixso-symbol-1057_169907  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170242 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170242 .Pixso-symbol-1057_169907  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170243 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170243 .Pixso-symbol-1057_169907  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170244 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170244 .Pixso-symbol-1057_169907  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170248 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170248 .Pixso-symbol-1057_169892  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170255 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170255 .Pixso-symbol-1057_169892  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170256 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170256 .Pixso-symbol-1057_169892  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170265 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170265 .Pixso-symbol-1057_169892  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170266 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170266 .Pixso-symbol-1057_169892  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170267 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170267 .Pixso-symbol-1057_169892  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170278 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170278 .Pixso-symbol-1057_169892  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170279 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170279 .Pixso-symbol-1057_169892  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170280 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170280 .Pixso-symbol-1057_169892  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170281 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170281 .Pixso-symbol-1057_169892  {
        width: 40px;
height: 40px;
overflow: hidden;
      }
.Pixso-instance-1057_170246 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170246 .Pixso-symbol-1057_169890  {
        width: 40px;
height: 40px;
      }
.Pixso-instance-1057_170252 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170252 .Pixso-symbol-1057_169890  {
        width: 40px;
height: 40px;
      }
.Pixso-instance-1057_170253 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170253 .Pixso-symbol-1057_169890  {
        width: 40px;
height: 40px;
      }
.Pixso-instance-1057_170261 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170261 .Pixso-symbol-1057_169890  {
        width: 40px;
height: 40px;
      }
.Pixso-instance-1057_170262 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170262 .Pixso-symbol-1057_169890  {
        width: 40px;
height: 40px;
      }
.Pixso-instance-1057_170263 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170263 .Pixso-symbol-1057_169890  {
        width: 40px;
height: 40px;
      }
.Pixso-instance-1057_170273 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170273 .Pixso-symbol-1057_169890  {
        width: 40px;
height: 40px;
      }
.Pixso-instance-1057_170274 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170274 .Pixso-symbol-1057_169890  {
        width: 40px;
height: 40px;
      }
.Pixso-instance-1057_170275 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170275 .Pixso-symbol-1057_169890  {
        width: 40px;
height: 40px;
      }
.Pixso-instance-1057_170276 {
        border-radius: 12px 12px 12px 12px;
      }
.Pixso-instance-1057_170276 .Pixso-symbol-1057_169890  {
        width: 40px;
height: 40px;
      }
.Pixso-instance-1057_170204 {
        border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
      }
.Pixso-instance-1057_170204 .Pixso-symbol-978_1553  {
        width: var(--medium-size);
height: var(--medium-size);
      }
.Pixso-instance-1057_170210 {
        border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
      }
.Pixso-instance-1057_170210 .Pixso-symbol-978_1553  {
        width: var(--medium-size);
height: var(--medium-size);
      }
.Pixso-instance-1057_170211 {
        border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
      }
.Pixso-instance-1057_170211 .Pixso-symbol-978_1553  {
        width: var(--medium-size);
height: var(--medium-size);
      }
.Pixso-instance-1057_170219 {
        border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
      }
.Pixso-instance-1057_170219 .Pixso-symbol-978_1553  {
        width: var(--medium-size);
height: var(--medium-size);
      }
.Pixso-instance-1057_170220 {
        border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
      }
.Pixso-instance-1057_170220 .Pixso-symbol-978_1553  {
        width: var(--medium-size);
height: var(--medium-size);
      }
.Pixso-instance-1057_170221 {
        border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
      }
.Pixso-instance-1057_170221 .Pixso-symbol-978_1553  {
        width: var(--medium-size);
height: var(--medium-size);
      }
.Pixso-instance-1057_170231 {
        border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
      }
.Pixso-instance-1057_170231 .Pixso-symbol-978_1553  {
        width: var(--medium-size);
height: var(--medium-size);
      }
.Pixso-instance-1057_170232 {
        border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
      }
.Pixso-instance-1057_170232 .Pixso-symbol-978_1553  {
        width: var(--medium-size);
height: var(--medium-size);
      }
.Pixso-instance-1057_170233 {
        border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
      }
.Pixso-instance-1057_170233 .Pixso-symbol-978_1553  {
        width: var(--medium-size);
height: var(--medium-size);
      }
.Pixso-instance-1057_170234 {
        border-radius: var(--medium-radius) var(--medium-radius) var(--medium-radius) var(--medium-radius);
      }
.Pixso-instance-1057_170234 .Pixso-symbol-978_1553  {
        width: var(--medium-size);
height: var(--medium-size);
      }
