
.Pixso-symbol-1057_170145 {
        
      }
.Pixso-symbol-1057_170146 {
        width: auto;
height: auto;
position: relative;
right: -24px;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170147 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170148 {
        width: auto;
height: auto;
position: relative;
right: -56px;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170149 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170150 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170151 {
        width: auto;
height: auto;
position: relative;
right: -88px;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170152 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170153 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170154 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170155 {
        width: auto;
height: auto;
position: relative;
right: -120px;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170156 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170157 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170158 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170159 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170160 {
        width: auto;
height: auto;
position: relative;
right: -24px;
display: flex;
flex-direction: row;
gap: 16px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170161 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170162 {
        width: auto;
height: auto;
position: relative;
right: -64px;
display: flex;
flex-direction: row;
gap: 16px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170163 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170164 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170165 {
        width: auto;
height: auto;
position: relative;
right: -104px;
display: flex;
flex-direction: row;
gap: 16px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170166 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170167 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170168 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170169 {
        width: auto;
height: auto;
position: relative;
right: -144px;
display: flex;
flex-direction: row;
gap: 16px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170170 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170171 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170172 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170173 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170174 {
        width: auto;
height: auto;
position: relative;
right: -24px;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170175 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170176 {
        width: auto;
height: auto;
position: relative;
right: -56px;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170177 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170178 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170179 {
        width: auto;
height: auto;
position: relative;
right: -88px;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170180 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170181 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170182 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170183 {
        width: auto;
height: auto;
position: relative;
right: -120px;
display: flex;
flex-direction: row;
gap: 8px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170184 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170185 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170186 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170187 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170188 {
        width: auto;
height: auto;
position: relative;
right: -24px;
display: flex;
flex-direction: row;
gap: 16px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170189 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170190 {
        width: auto;
height: auto;
position: relative;
right: -64px;
display: flex;
flex-direction: row;
gap: 16px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170191 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170192 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170193 {
        width: auto;
height: auto;
position: relative;
right: -104px;
display: flex;
flex-direction: row;
gap: 16px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170194 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170195 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170196 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-symbol-1057_170197 {
        width: auto;
height: auto;
position: relative;
right: -144px;
display: flex;
flex-direction: row;
gap: 16px;
justify-content: center;
align-items: center;
      }
.Pixso-instance-1057_170198 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170199 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170200 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.Pixso-instance-1057_170201 {
        width: 24px;
height: 24px;
position: relative;
flex-shrink: 0;
      }
.component-1057_170145 {
        width: fit-content;
height: fit-content;
      }


.Pixso-instance-1057_170147 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170147 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170149 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170149 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170150 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170150 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170152 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170152 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170153 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170153 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170154 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170154 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170156 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170156 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170157 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170157 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170158 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170158 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170159 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170159 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170161 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170161 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170163 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170163 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170164 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170164 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170166 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170166 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170167 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170167 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170168 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170168 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170170 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170170 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170171 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170171 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170172 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170172 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170173 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170173 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170175 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170175 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170177 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170177 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170178 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170178 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170180 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170180 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170181 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170181 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170182 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170182 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170184 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170184 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170185 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170185 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170186 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170186 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170187 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170187 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170189 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170189 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170191 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170191 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170192 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170192 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170194 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170194 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170195 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170195 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170196 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170196 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170198 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170198 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170199 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170199 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170200 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170200 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
.Pixso-instance-1057_170201 {
        background-image: url(@/assets/images/chevronright84.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
      }
.Pixso-instance-1057_170201 .Pixso-symbol-1057_170117  {
        width: 24px;
height: 24px;
overflow: hidden;
      }
