
.Pixso-symbol-978_1435 {
        
      }
.Pixso-symbol-978_1436 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: flex-end;
align-items: center;
padding: 0px 4px 0px 4px;
border-radius: 8px 8px 8px 8px;
background-color: var(--accent-accent-primary);
      }
.Pixso-paragraph-978_1437 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--colors-white);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-978_1438 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: flex-end;
align-items: center;
padding: 0px 4px 0px 4px;
border-radius: 8px 8px 8px 8px;
      }
.Pixso-paragraph-978_1439 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--accent-accent-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-978_1440 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: flex-end;
align-items: center;
padding: 0px 4px 0px 4px;
border-radius: 8px 8px 8px 8px;
background-color: var(--system-system-error-primary);
      }
.Pixso-paragraph-978_1441 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--colors-white);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-978_1442 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: flex-end;
align-items: center;
padding: 0px 4px 0px 4px;
border-radius: 8px 8px 8px 8px;
background-color: var(--system-system-success-primary-9737b406ed4fa49db956e4e7e5df3126ec0001f8-19171-47);
      }
.Pixso-paragraph-978_1443 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--colors-white);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-978_1444 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: flex-end;
align-items: center;
padding: 0px 4px 0px 4px;
border-radius: 8px 8px 8px 8px;
background-color: var(--system-system-warning-primary-9f9b7395cd16c73d5efcc5d47c1ed4a8da657d56-19171-51);
      }
.Pixso-paragraph-978_1445 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--colors-white);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-978_1446 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: flex-end;
align-items: center;
padding: 0px 4px 0px 4px;
border-radius: 8px 8px 8px 8px;
      }
.Pixso-paragraph-978_1447 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-978_1448 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: flex-end;
align-items: center;
padding: 0px 4px 0px 4px;
border-radius: 8px 8px 8px 8px;
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-paragraph-978_1449 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-disabled-d9c066edc7cde51478dffefecab7b5940cd702ef-19171-38);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-978_1450 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: center;
align-items: center;
padding: 0px 4px 0px 4px;
border-radius: 6px 6px 6px 6px;
background-color: var(--accent-accent-primary);
      }
.Pixso-paragraph-978_1451 {
        font-size: 12px;
font-family: "Kaspersky Sans Text-SemiBold";
font-weight: 600;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0em;
line-height: 16px;
color: var(--colors-white);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-978_1452 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: center;
align-items: center;
padding: 0px 4px 0px 4px;
border-radius: 6px 6px 6px 6px;
      }
.Pixso-paragraph-978_1453 {
        font-size: 12px;
font-family: "Kaspersky Sans Text-SemiBold";
font-weight: 600;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0em;
line-height: 16px;
color: var(--accent-accent-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-978_1454 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: center;
align-items: center;
padding: 0px 4px 0px 4px;
border-radius: 6px 6px 6px 6px;
background-color: var(--system-system-error-primary);
      }
.Pixso-paragraph-978_1455 {
        font-size: 12px;
font-family: "Kaspersky Sans Text-SemiBold";
font-weight: 600;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0em;
line-height: 16px;
color: var(--colors-white);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-978_1456 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: center;
align-items: center;
padding: 0px 4px 0px 4px;
border-radius: 6px 6px 6px 6px;
background-color: var(--system-system-success-primary-9737b406ed4fa49db956e4e7e5df3126ec0001f8-19171-47);
      }
.Pixso-paragraph-978_1457 {
        font-size: 12px;
font-family: "Kaspersky Sans Text-SemiBold";
font-weight: 600;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0em;
line-height: 16px;
color: var(--colors-white);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-978_1458 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: center;
align-items: center;
padding: 0px 4px 0px 4px;
border-radius: 6px 6px 6px 6px;
background-color: var(--system-system-warning-primary-9f9b7395cd16c73d5efcc5d47c1ed4a8da657d56-19171-51);
      }
.Pixso-paragraph-978_1459 {
        font-size: 12px;
font-family: "Kaspersky Sans Text-SemiBold";
font-weight: 600;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0em;
line-height: 16px;
color: var(--colors-white);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-978_1460 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: center;
align-items: center;
padding: 0px 4px 0px 4px;
border-radius: 6px 6px 6px 6px;
      }
.Pixso-paragraph-978_1461 {
        font-size: 12px;
font-family: "Kaspersky Sans Text-SemiBold";
font-weight: 600;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0em;
line-height: 16px;
color: var(--content-content-primary);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-978_1462 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: center;
align-items: center;
padding: 0px 4px 0px 4px;
border-radius: 6px 6px 6px 6px;
background-color: var(--content-content-background-3143b1fb78fb9841552e461aa2f74b1ff6a5521f-19171-40);
      }
.Pixso-paragraph-978_1463 {
        font-size: 12px;
font-family: "Kaspersky Sans Text-SemiBold";
font-weight: 600;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
letter-spacing: 0em;
line-height: 16px;
color: var(--content-content-disabled-d9c066edc7cde51478dffefecab7b5940cd702ef-19171-38);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.component-978_1435 {
        width: fit-content;
height: fit-content;
      }

