
.Pixso-symbol-894_155425 {
        
      }
.Pixso-symbol-894_155426 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: flex-end;
align-items: center;
padding: 0px 4px 0px 4px;
border-radius: 8px 8px 8px 8px;
background-color: var(--accent-accent-primary-1d3dcea5276688a36ab7e7ecf88088bfd47731e6-17178-121);
      }
.Pixso-paragraph-894_155427 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-constant);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155428 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: flex-end;
align-items: center;
padding: 0px 4px 0px 4px;
border-radius: 8px 8px 8px 8px;
      }
.Pixso-paragraph-894_155429 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--accent-accent-primary-1d3dcea5276688a36ab7e7ecf88088bfd47731e6-17178-121);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155430 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: flex-end;
align-items: center;
padding: 0px 4px 0px 4px;
border-radius: 8px 8px 8px 8px;
background-color: var(--system-system-error-primary-b0e6aa706b44c7f616e0228a8ec0fd61a91110f7-17178-128);
      }
.Pixso-paragraph-894_155431 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-constant);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155432 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: flex-end;
align-items: center;
padding: 0px 4px 0px 4px;
border-radius: 8px 8px 8px 8px;
background-color: var(--system-system-success-primary-0f91deea51b504171a4167c1ea0aaff774e4e1da-17178-116);
      }
.Pixso-paragraph-894_155433 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-constant);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155434 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: flex-end;
align-items: center;
padding: 0px 4px 0px 4px;
border-radius: 8px 8px 8px 8px;
background-color: var(--system-system-warning-primary);
      }
.Pixso-paragraph-894_155435 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-constant);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155436 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: flex-end;
align-items: center;
padding: 0px 4px 0px 4px;
border-radius: 8px 8px 8px 8px;
      }
.Pixso-paragraph-894_155437 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary-d19f126556c8423d899988749bcb72b3645b5ef5-17178-131);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155438 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: flex-end;
align-items: center;
padding: 0px 4px 0px 4px;
border-radius: 8px 8px 8px 8px;
background-color: var(--content-content-background);
      }
.Pixso-paragraph-894_155439 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-disabled);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155440 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: center;
align-items: center;
padding: 0px 4px 0px 4px;
border-radius: 6px 6px 6px 6px;
background-color: var(--accent-accent-primary-1d3dcea5276688a36ab7e7ecf88088bfd47731e6-17178-121);
      }
.Pixso-paragraph-894_155441 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-constant);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155442 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: center;
align-items: center;
padding: 0px 4px 0px 4px;
border-radius: 6px 6px 6px 6px;
      }
.Pixso-paragraph-894_155443 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--accent-accent-primary-1d3dcea5276688a36ab7e7ecf88088bfd47731e6-17178-121);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155444 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: center;
align-items: center;
padding: 0px 4px 0px 4px;
border-radius: 6px 6px 6px 6px;
background-color: var(--system-system-error-primary-b0e6aa706b44c7f616e0228a8ec0fd61a91110f7-17178-128);
      }
.Pixso-paragraph-894_155445 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-constant);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155446 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: center;
align-items: center;
padding: 0px 4px 0px 4px;
border-radius: 6px 6px 6px 6px;
background-color: var(--system-system-success-primary-0f91deea51b504171a4167c1ea0aaff774e4e1da-17178-116);
      }
.Pixso-paragraph-894_155447 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-constant);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155448 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: center;
align-items: center;
padding: 0px 4px 0px 4px;
border-radius: 6px 6px 6px 6px;
background-color: var(--system-system-warning-primary);
      }
.Pixso-paragraph-894_155449 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-constant);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155450 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: center;
align-items: center;
padding: 0px 4px 0px 4px;
border-radius: 6px 6px 6px 6px;
      }
.Pixso-paragraph-894_155451 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-primary-d19f126556c8423d899988749bcb72b3645b5ef5-17178-131);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.Pixso-symbol-894_155452 {
        width: auto;
height: auto;
position: relative;
display: flex;
flex-direction: column;
gap: 10px;
justify-content: center;
align-items: center;
padding: 0px 4px 0px 4px;
border-radius: 6px 6px 6px 6px;
background-color: var(--content-content-background);
      }
.Pixso-paragraph-894_155453 {
        text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--content-content-disabled);
width: auto;
height: auto;
position: relative;
flex-shrink: 0;
white-space: pre;
flex-grow: 0;
      }
.component-894_155425 {
        width: fit-content;
height: fit-content;
      }

