
.Pixso-symbol-431_164013 {
        
      }
.Pixso-symbol-431_164014 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/is_outlinefalse24.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
      }
.Pixso-symbol-431_164016 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/is_outlinetrue24.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
      }
.component-431_164013 {
        width: fit-content;
height: fit-content;
      }

