
.Pixso-symbol-431_164008 {
        
      }
.Pixso-symbol-431_164009 {
        width: 24px;
height: 24.000001907348633px;
background-image: url(@/assets/images/is_outlinefalse13.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
      }
.Pixso-symbol-431_164011 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/is_outlinetrue13.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
      }
.component-431_164008 {
        width: fit-content;
height: fit-content;
      }

