
.Pixso-symbol-431_164023 {
        
      }
.Pixso-symbol-431_164024 {
        width: 360px;
height: 48px;
position: relative;
background-color: var(--background-background-secondary);
      }
.Pixso-frame-431_164025 {
        width: 100px;
height: 48px;
overflow: hidden;
position: absolute;
left: 50%;
top: 0px;
transform: translateX(calc(-50% + -100px));
      }
.Pixso-instance-431_164026 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/mobiledown1.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 38%;
right: 38%;
top: 25%;
bottom: 25%;
      }
.Pixso-frame-431_164027 {
        width: 100px;
height: 48px;
overflow: hidden;
position: absolute;
left: 50%;
top: 0px;
transform: translateX(calc(-50% + 0px));
      }
.Pixso-instance-431_164028 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/mobilehome5.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 38%;
right: 38%;
top: 25%;
bottom: 25%;
      }
.Pixso-vector-431_164029 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/corner10.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
right: 0px;
bottom: 48px;
      }
.Pixso-vector-431_164030 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/corner9.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
bottom: 48px;
      }
.Pixso-symbol-431_164031 {
        width: 360px;
height: 48px;
position: relative;
background-color: var(--background-background-secondary);
      }
.Pixso-frame-431_164032 {
        width: 100px;
height: 48px;
overflow: hidden;
position: absolute;
left: 50%;
top: 0px;
transform: translateX(calc(-50% + -100px));
      }
.Pixso-instance-431_164033 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/mobileback1.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 38%;
right: 38%;
top: 25%;
bottom: 25%;
      }
.Pixso-frame-431_164034 {
        width: 100px;
height: 48px;
overflow: hidden;
position: absolute;
left: 50%;
top: 0px;
transform: translateX(calc(-50% + 0px));
      }
.Pixso-instance-431_164035 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/mobilehome4.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 38%;
right: 38%;
top: 25%;
bottom: 25%;
      }
.Pixso-vector-431_164036 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/corner8.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
right: 0px;
bottom: 48px;
      }
.Pixso-vector-431_164037 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/corner7.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
bottom: 48px;
      }
.Pixso-symbol-431_164038 {
        width: 360px;
height: 48px;
position: relative;
background-color: var(--background-background-secondary);
      }
.Pixso-frame-431_164039 {
        width: 100px;
height: 48px;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0px)) translateY(calc(-50% + 0px));
border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
      }
.Pixso-instance-431_164040 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/mobilehome2.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 38%;
right: 38%;
top: 25%;
bottom: 25%;
      }
.Pixso-vector-431_164041 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/corner4.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
right: 0px;
bottom: 48px;
      }
.Pixso-vector-431_164042 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/corner3.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
bottom: 48px;
      }
.Pixso-symbol-431_164043 {
        width: 360px;
height: 48px;
position: relative;
background-color: rgba(20.4, 20.4, 20.4, 1);
      }
.Pixso-frame-431_164044 {
        width: 100px;
height: 48px;
overflow: hidden;
position: absolute;
left: 50%;
top: 0px;
transform: translateX(calc(-50% + -100px));
      }
.Pixso-instance-431_164045 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/mobiledown0.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 38%;
right: 38%;
top: 25%;
bottom: 25%;
      }
.Pixso-frame-431_164046 {
        width: 100px;
height: 48px;
overflow: hidden;
position: absolute;
left: 50%;
top: 0px;
transform: translateX(calc(-50% + 0px));
      }
.Pixso-instance-431_164047 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/mobilehome0.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 38%;
right: 38%;
top: 25%;
bottom: 25%;
      }
.Pixso-vector-431_164048 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/corner0.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
right: 0px;
bottom: 48px;
      }
.Pixso-vector-431_164049 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/corner.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
bottom: 48px;
      }
.Pixso-symbol-431_164050 {
        width: 360px;
height: 48px;
position: relative;
background-color: rgba(20.4, 20.4, 20.4, 1);
      }
.Pixso-frame-431_164051 {
        width: 100px;
height: 48px;
overflow: hidden;
position: absolute;
left: 50%;
top: 0px;
transform: translateX(calc(-50% + -100px));
      }
.Pixso-instance-431_164052 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/mobileback0.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 38%;
right: 38%;
top: 25%;
bottom: 25%;
      }
.Pixso-frame-431_164053 {
        width: 100px;
height: 48px;
overflow: hidden;
position: absolute;
left: 50%;
top: 0px;
transform: translateX(calc(-50% + 0px));
      }
.Pixso-instance-431_164054 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/mobilehome1.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 38%;
right: 38%;
top: 25%;
bottom: 25%;
      }
.Pixso-vector-431_164055 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/corner2.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
right: 0px;
bottom: 48px;
      }
.Pixso-vector-431_164056 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/corner1.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
bottom: 48px;
      }
.Pixso-symbol-431_164057 {
        width: 360px;
height: 48px;
position: relative;
background-color: rgba(20.4, 20.4, 20.4, 1);
      }
.Pixso-frame-431_164058 {
        width: 100px;
height: 48px;
position: absolute;
left: 50%;
top: 50%;
transform: translateX(calc(-50% + 0px)) translateY(calc(-50% + 0px));
border-radius: var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23) var(--medium-radius-e528a6107943a5d5bc00bd4ccec44fac4aa97d93-14116-23);
      }
.Pixso-instance-431_164059 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/mobilehome3.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: absolute;
flex-shrink: 0;
left: 38%;
right: 38%;
top: 25%;
bottom: 25%;
      }
.Pixso-vector-431_164060 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/corner6.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
right: 0px;
bottom: 48px;
      }
.Pixso-vector-431_164061 {
        width: 16px;
height: 16px;
background-image: url(@/assets/images/corner5.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
bottom: 48px;
      }
.component-431_164023 {
        width: fit-content;
height: fit-content;
      }

