
.Pixso-symbol-445_139026 {
        
      }
.Pixso-symbol-445_139027 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/is_outlinefalse17.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
      }
.Pixso-symbol-445_139029 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/is_outlinetrue17.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
      }
.component-445_139026 {
        width: fit-content;
height: fit-content;
      }

