
.Pixso-symbol-52_126978 {
        
      }
.Pixso-symbol-52_126979 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/is_outlinefalse19.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
      }
.Pixso-symbol-52_126981 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/is_outlinetrue19.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
      }
.component-52_126978 {
        width: fit-content;
height: fit-content;
      }

