
.Pixso-symbol-1854_510 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/Rec1.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 2px 0px 0px 2px;
min-height: 24px;
min-width: 24px;
max-height: 24px;
max-width: 24px;
      }
.component-1854_510 {
        width: fit-content;
height: fit-content;
      }

