
.Pixso-symbol-1057_170143 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/remove2.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
      }
.component-1057_170143 {
        width: fit-content;
height: fit-content;
      }

