
.Pixso-symbol-504_2218 {
        
      }
.Pixso-symbol-504_2219 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/is_outlinefalse14.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
      }
.Pixso-symbol-504_2221 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/is_outlinetrue14.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
      }
.component-504_2218 {
        width: fit-content;
height: fit-content;
      }

