
.Pixso-symbol-188_119798 {
        
      }
.Pixso-symbol-188_119799 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/is_outlinefalse18.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
      }
.Pixso-symbol-188_119801 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/is_outlinetrue18.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
      }
.component-188_119798 {
        width: fit-content;
height: fit-content;
      }

