
.Pixso-symbol-807_152534 {
        
      }
.Pixso-symbol-807_152535 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/is_outlinefalse26.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
      }
.Pixso-symbol-807_152537 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/is_outlinetrue26.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
      }
.component-807_152534 {
        width: fit-content;
height: fit-content;
      }

