
.Pixso-symbol-431_165253 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/star1005.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
      }
.component-431_165253 {
        width: fit-content;
height: fit-content;
      }

