
.Pixso-symbol-894_155554 {
        
      }
.Pixso-symbol-894_155555 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-894_155556 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse138.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-894_155557 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-894_155558 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse135.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-894_155559 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-894_155560 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse129.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-894_155561 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-894_155562 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse126.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-894_155563 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-894_155564 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse128.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-894_155565 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-894_155566 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse130.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-894_155567 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-894_155568 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse136.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-894_155569 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-894_155570 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse134.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-894_155571 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-894_155572 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse133.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-894_155573 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-894_155574 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse132.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-894_155575 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-894_155576 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse127.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-894_155577 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-894_155578 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse139.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-894_155579 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-894_155580 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse140.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-894_155581 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-894_155582 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse137.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-894_155583 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-894_155584 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse131.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-894_155585 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-894_155586 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse125.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-894_155587 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-894_155588 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse124.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-894_155589 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-894_155590 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse123.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-894_155591 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-894_155592 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse122.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-894_155593 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-894_155594 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse121.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.component-894_155554 {
        width: fit-content;
height: fit-content;
      }

