
.Pixso-symbol-1057_169894 {
        
      }
.Pixso-symbol-1057_169895 {
        width: 40px;
height: 24px;
position: relative;
border-radius: 28px 28px 28px 28px;
background-color: var(--content-content-secondary-e0d603df5484592b8ab1a05fdd19f12336187141-19171-37);
      }
.Pixso-rectangle-1057_169896 {
        width: 40%;
height: 66.66%;
position: absolute;
left: 10%;
right: 50%;
top: 16.67%;
bottom: 16.67%;
border-radius: 30px 30px 30px 30px;
background-color: var(--colors-white);
      }
.Pixso-symbol-1057_169897 {
        width: 24px;
height: 24px;
position: relative;
border-radius: 28px 28px 28px 28px;
background-color: var(--content-content-secondary-e0d603df5484592b8ab1a05fdd19f12336187141-19171-37);
      }
.Pixso-vector-1057_169898 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/Ellipse119.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 0px;
      }
.Pixso-instance-1057_169899 {
        width: 24px;
height: 24px;
position: absolute;
left: 0px;
top: 0px;
      }
.Pixso-rectangle-1057_169900 {
        width: 16px;
height: 16px;
position: absolute;
left: 4px;
top: 50%;
transform: translateY(calc(-50% + 0px));
border-radius: 30px 30px 30px 30px;
background-color: var(--colors-white);
      }
.Pixso-symbol-1057_169901 {
        width: 40px;
height: 24px;
position: relative;
border-radius: 28px 28px 28px 28px;
background-color: var(--accent-accent-primary);
      }
.Pixso-rectangle-1057_169902 {
        width: 40%;
height: 66.66%;
position: absolute;
left: 50%;
right: 10%;
top: 16.67%;
bottom: 16.67%;
border-radius: 30px 30px 30px 30px;
background-color: var(--colors-white);
      }
.Pixso-symbol-1057_169903 {
        width: 40px;
height: 24px;
position: relative;
border-radius: 28px 28px 28px 28px;
background-color: var(--content-content-disabled-d9c066edc7cde51478dffefecab7b5940cd702ef-19171-38);
      }
.Pixso-rectangle-1057_169904 {
        width: 40%;
height: 66.66%;
position: absolute;
left: 10%;
right: 50%;
top: 16.67%;
bottom: 16.67%;
border-radius: 30px 30px 30px 30px;
background-color: var(--colors-white);
      }
.Pixso-symbol-1057_169905 {
        width: 40px;
height: 24px;
position: relative;
border-radius: 28px 28px 28px 28px;
background-color: var(--accent-accent-disabled);
      }
.Pixso-rectangle-1057_169906 {
        width: 40%;
height: 66.66%;
position: absolute;
left: 50%;
right: 10%;
top: 16.67%;
bottom: 16.67%;
border-radius: 30px 30px 30px 30px;
background-color: var(--colors-white);
      }
.component-1057_169894 {
        width: fit-content;
height: fit-content;
      }


.Pixso-instance-1057_169899 {
        background-color: transparent;
      }
.Pixso-instance-1057_169899 .Pixso-symbol-1057_170288  {
        width: 24px;
height: 24px;
      }
