
.Pixso-symbol-1057_170287 {
        
      }
.Pixso-symbol-1057_170288 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-1057_170289 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse116.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-1057_170290 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-1057_170291 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse115.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-1057_170292 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-1057_170293 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse110.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-1057_170294 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-1057_170295 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse14.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-1057_170296 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-1057_170297 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse15.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-1057_170298 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-1057_170299 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse13.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-1057_170300 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-1057_170301 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse12.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-1057_170302 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-1057_170303 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse19.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-1057_170304 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-1057_170305 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse17.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-1057_170306 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-1057_170307 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse18.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-1057_170308 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-1057_170309 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse16.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-1057_170310 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-1057_170311 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse1.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-1057_170312 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-1057_170313 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse11.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-1057_170314 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-1057_170315 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse111.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-1057_170316 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-1057_170317 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse117.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-1057_170318 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-1057_170319 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse114.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-1057_170320 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-1057_170321 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse113.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-1057_170322 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-1057_170323 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse112.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-1057_170324 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-1057_170325 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse10.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.Pixso-symbol-1057_170326 {
        width: 24px;
height: 24px;
position: relative;
background-color: transparent;
      }
.Pixso-vector-1057_170327 {
        width: 100%;
height: 100%;
background-image: url(@/assets/images/Ellipse118.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
      }
.component-1057_170287 {
        width: fit-content;
height: fit-content;
      }

