
.Pixso-symbol-894_155595 {
        
      }
.Pixso-symbol-894_155596 {
        width: 40px;
height: 24px;
position: relative;
border-radius: 28px 28px 28px 28px;
background-color: var(--content-content-secondary);
      }
.Pixso-rectangle-894_155597 {
        width: 40%;
height: 66.66%;
position: absolute;
left: 10%;
right: 50%;
top: 16.67%;
bottom: 16.67%;
border-radius: 30px 30px 30px 30px;
background-color: var(--content-content-constant);
      }
.Pixso-symbol-894_155598 {
        width: 24px;
height: 24px;
position: relative;
border-radius: 28px 28px 28px 28px;
background-color: var(--content-content-secondary);
      }
.Pixso-vector-894_155599 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/Ellipse120.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 0px;
      }
.Pixso-instance-894_155600 {
        width: 24px;
height: 24px;
position: absolute;
left: 0px;
top: 0px;
      }
.Pixso-rectangle-894_155601 {
        width: 16px;
height: 16px;
position: absolute;
left: 4px;
top: 50%;
transform: translateY(calc(-50% + 0px));
border-radius: 30px 30px 30px 30px;
background-color: var(--content-content-constant);
      }
.Pixso-symbol-894_155602 {
        width: 40px;
height: 24px;
position: relative;
border-radius: 28px 28px 28px 28px;
background-color: var(--accent-accent-primary-1d3dcea5276688a36ab7e7ecf88088bfd47731e6-17178-121);
      }
.Pixso-rectangle-894_155603 {
        width: 40%;
height: 66.66%;
position: absolute;
left: 50%;
right: 10%;
top: 16.67%;
bottom: 16.67%;
border-radius: 30px 30px 30px 30px;
background-color: var(--content-content-constant);
      }
.Pixso-symbol-894_155604 {
        width: 40px;
height: 24px;
position: relative;
border-radius: 28px 28px 28px 28px;
background-color: var(--content-content-disabled);
      }
.Pixso-rectangle-894_155605 {
        width: 40%;
height: 66.66%;
position: absolute;
left: 10%;
right: 50%;
top: 16.67%;
bottom: 16.67%;
border-radius: 30px 30px 30px 30px;
background-color: var(--content-content-constant);
      }
.Pixso-symbol-894_155606 {
        width: 40px;
height: 24px;
position: relative;
border-radius: 28px 28px 28px 28px;
background-color: var(--accent-accent-disabled-c8a6f6424c71c065153c639812fd58511a8e2f28-17178-119);
      }
.Pixso-rectangle-894_155607 {
        width: 40%;
height: 66.66%;
position: absolute;
left: 50%;
right: 10%;
top: 16.67%;
bottom: 16.67%;
border-radius: 30px 30px 30px 30px;
background-color: var(--content-content-constant);
      }
.component-894_155595 {
        width: fit-content;
height: fit-content;
      }


.Pixso-instance-894_155600 {
        background-color: transparent;
      }
.Pixso-instance-894_155600 .Pixso-symbol-894_155555  {
        width: 24px;
height: 24px;
      }
