
.Pixso-symbol-1854_481 {
        
      }
.Pixso-symbol-1854_482 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/is_outlinefalse20.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
      }
.Pixso-symbol-1854_484 {
        width: 24px;
height: 24px;
background-image: url(@/assets/images/is_outlinetrue20.svg);
background-size: 100% 100%;
background-repeat: no-repeat;
overflow: hidden;
position: relative;
      }
.component-1854_481 {
        width: fit-content;
height: fit-content;
      }

