.layout {
	display: grid;
	grid-template-columns: 280px 1fr;
	min-height: 100vh;
	background: var(--background-primary);
	color: var(--content-primary);
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--background-primary);
}

.sidebar {
	background: var(--background-secondary);
	border-right: 1px solid var(--content-border);
	overflow-y: auto;
}

.sidebar > *:not(:last-child) {
	border-bottom: 1px solid var(--content-border);
}
